Repository microsoft/fast, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisdholt, @janechu, @nicholasrice, @radium-v, @awentzel, @falkicon, @bheston, @scomea, @kingoftac

Add further docs on client side bindings and hydration markers (#7175)
  change/@microsoft-fast-html-9d4421c0-5569-451d-8a32-ff02e3ec471d.json
  packages/web-components/fast-html/RENDERING.md
Owners: @awentzel, @chrisdholt, @falkicon

Remove shadowOptions as observable
  packages/web-components/fast-element/src/components/element-controller.ts
  packages/web-components/fast-element/src/components/fast-definitions.ts
Owners: @chrisdholt, @janechu, @nicholasrice

Add templateOptions to fast definition
  packages/web-components/fast-element/docs/api-report.api.md
  packages/web-components/fast-element/src/components/element-controller.spec.ts
  packages/web-components/fast-element/src/components/element-controller.ts
  packages/web-components/fast-element/src/components/fast-definitions.spec.ts
  packages/web-components/fast-element/src/components/fast-definitions.ts
  packages/web-components/fast-html/src/components/element.ts
  packages/web-components/fast-html/src/fixtures/attribute/main.ts
  packages/web-components/fast-html/src/fixtures/binding/main.ts
  packages/web-components/fast-html/src/fixtures/children/main.ts
  packages/web-components/fast-html/src/fixtures/dot-syntax/main.ts
  packages/web-components/fast-html/src/fixtures/event/main.ts
  packages/web-components/fast-html/src/fixtures/observer-map/main.ts
  packages/web-components/fast-html/src/fixtures/ref/main.ts
  packages/web-components/fast-html/src/fixtures/repeat/main.ts
  packages/web-components/fast-html/src/fixtures/slotted/main.ts
  packages/web-components/fast-html/src/fixtures/when/main.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Make all generated JSON schemas available via a static property
  packages/web-components/fast-html/src/components/schema.spec.ts
  packages/web-components/fast-html/src/components/schema.ts
  packages/web-components/fast-html/src/components/template.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Change files
  change/@microsoft-fast-html-a2d018af-86e2-4f32-83cb-7b8a704c4bae.json
Owners: none

Remove only
  packages/web-components/fast-html/src/components/schema.spec.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Make all generated JSON schemas available via a static property (#7178)
  change/@microsoft-fast-html-a2d018af-86e2-4f32-83cb-7b8a704c4bae.json
  packages/web-components/fast-html/src/components/schema.spec.ts
  packages/web-components/fast-html/src/components/schema.ts
  packages/web-components/fast-html/src/components/template.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

applying package updates
  change/@microsoft-fast-html-485f442f-a1ce-4e24-8d6d-0e12b5d9f801.json
  change/@microsoft-fast-html-9d4421c0-5569-451d-8a32-ff02e3ec471d.json
  change/@microsoft-fast-html-a2d018af-86e2-4f32-83cb-7b8a704c4bae.json
  package-lock.json
  packages/web-components/fast-html/CHANGELOG.json
  packages/web-components/fast-html/CHANGELOG.md
  packages/web-components/fast-html/package.json
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v, @awentzel, @falkicon

Update schema to reference children schemas that tie an attribute to data
  packages/web-components/fast-html/src/components/schema.spec.ts
  packages/web-components/fast-html/src/components/schema.ts
  packages/web-components/fast-html/src/components/template.ts
  packages/web-components/fast-html/src/components/utilities.spec.ts
  packages/web-components/fast-html/src/components/utilities.ts
  packages/web-components/fast-html/src/fixtures/observer-map/main.ts
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.fixture.html
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Change files
  change/@microsoft-fast-html-00a629f9-6a3c-4cdf-8631-baf8d507efd4.json
Owners: none

Update schema to reference children schemas that tie an attribute to data (#7180)
  change/@microsoft-fast-html-00a629f9-6a3c-4cdf-8631-baf8d507efd4.json
  packages/web-components/fast-html/src/components/schema.spec.ts
  packages/web-components/fast-html/src/components/schema.ts
  packages/web-components/fast-html/src/components/template.ts
  packages/web-components/fast-html/src/components/utilities.spec.ts
  packages/web-components/fast-html/src/components/utilities.ts
  packages/web-components/fast-html/src/fixtures/observer-map/main.ts
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.fixture.html
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Add anyOf with to contexts
  packages/web-components/fast-html/src/components/schema.spec.ts
  packages/web-components/fast-html/src/components/schema.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Change files
  change/@microsoft-fast-html-b0c85295-af2d-4063-8faa-1a4b64555fcf.json
Owners: none

Add anyOf with to contexts (#7181)
  change/@microsoft-fast-html-b0c85295-af2d-4063-8faa-1a4b64555fcf.json
  packages/web-components/fast-html/src/components/schema.spec.ts
  packages/web-components/fast-html/src/components/schema.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Allow proxied data to have more than one target to notify of updates
  packages/web-components/fast-html/src/components/utilities.ts
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.fixture.html
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Change files
  change/@microsoft-fast-html-a37edf2a-d030-4270-ad44-62d0a59abc6c.json
Owners: none

Allow proxied data to have more than one target to notify of updates (#7183)
  change/@microsoft-fast-html-a37edf2a-d030-4270-ad44-62d0a59abc6c.json
  packages/web-components/fast-html/src/components/utilities.ts
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.fixture.html
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

applying package updates
  change/@microsoft-fast-html-00a629f9-6a3c-4cdf-8631-baf8d507efd4.json
  change/@microsoft-fast-html-a37edf2a-d030-4270-ad44-62d0a59abc6c.json
  change/@microsoft-fast-html-b0c85295-af2d-4063-8faa-1a4b64555fcf.json
  package-lock.json
  packages/web-components/fast-html/CHANGELOG.json
  packages/web-components/fast-html/CHANGELOG.md
  packages/web-components/fast-html/package.json
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v, @awentzel, @falkicon

Fix: definition finding should account for anyOf when passing items to child components
  packages/web-components/fast-html/src/components/schema.ts
  packages/web-components/fast-html/src/components/utilities.spec.ts
  packages/web-components/fast-html/src/components/utilities.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Change files
  change/@microsoft-fast-html-6d3d788f-f2ec-4414-ba14-d77c66df260b.json
Owners: none

Fix: definition finding should account for anyOf arrays (#7185)
  change/@microsoft-fast-html-6d3d788f-f2ec-4414-ba14-d77c66df260b.json
  packages/web-components/fast-html/src/components/schema.ts
  packages/web-components/fast-html/src/components/utilities.spec.ts
  packages/web-components/fast-html/src/components/utilities.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

applying package updates
  change/@microsoft-fast-html-6d3d788f-f2ec-4414-ba14-d77c66df260b.json
  package-lock.json
  packages/web-components/fast-html/CHANGELOG.json
  packages/web-components/fast-html/CHANGELOG.md
  packages/web-components/fast-html/package.json
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v, @awentzel, @falkicon

Fixes an issue where object properties that are not present in the schema are proxied or observed
  packages/web-components/fast-html/src/components/utilities.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Change files
  change/@microsoft-fast-html-b5d79425-b16a-4147-b3ad-56aa0dacbf08.json
Owners: none

Fixes an issue where object properties that are not present in the schema are proxied or observed (#7186)
  change/@microsoft-fast-html-b5d79425-b16a-4147-b3ad-56aa0dacbf08.json
  packages/web-components/fast-html/src/components/utilities.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Fix an issue where proxied data was not being re-assigned, stabilize observer map test
  packages/web-components/fast-html/src/components/utilities.ts
  packages/web-components/fast-html/src/fixtures/observer-map/main.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Change files
  change/@microsoft-fast-html-ccc01cb2-739e-4a8a-8c37-d58fd2d0ac14.json
Owners: none

Re-observe an array when new items are added
  packages/web-components/fast-html/src/components/utilities.ts
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.spec.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Change files
  change/@microsoft-fast-html-b4a1b5ed-9bf1-40af-a99b-760b8e8e478e.json
Owners: none

Fix an issue where proxied data was not being re-assigned, stabilize observer map test (#7187)
  change/@microsoft-fast-html-ccc01cb2-739e-4a8a-8c37-d58fd2d0ac14.json
  packages/web-components/fast-html/src/components/utilities.ts
  packages/web-components/fast-html/src/fixtures/observer-map/main.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Fixes an issue where new items added to an array were not observed (#7188)
  change/@microsoft-fast-html-b4a1b5ed-9bf1-40af-a99b-760b8e8e478e.json
  packages/web-components/fast-html/src/components/utilities.ts
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.spec.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

applying package updates
  change/@microsoft-fast-html-b4a1b5ed-9bf1-40af-a99b-760b8e8e478e.json
  change/@microsoft-fast-html-b5d79425-b16a-4147-b3ad-56aa0dacbf08.json
  change/@microsoft-fast-html-ccc01cb2-739e-4a8a-8c37-d58fd2d0ac14.json
  package-lock.json
  packages/web-components/fast-html/CHANGELOG.json
  packages/web-components/fast-html/CHANGELOG.md
  packages/web-components/fast-html/package.json
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v, @awentzel, @falkicon

Create a more elegant solution when setting objects to avoid Object.assign
  packages/web-components/fast-html/src/components/observer-map.ts
  packages/web-components/fast-html/src/fixtures/observer-map/main.ts
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.fixture.html
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.spec.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Change files
  change/@microsoft-fast-html-c58f41ad-e51e-494d-b63f-70130d53c5c9.json
Owners: none

Create a more elegant solution when setting objects to avoid Object.assign (#7190)
  change/@microsoft-fast-html-c58f41ad-e51e-494d-b63f-70130d53c5c9.json
  packages/web-components/fast-html/src/components/observer-map.ts
  packages/web-components/fast-html/src/fixtures/observer-map/main.ts
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.fixture.html
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.spec.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

applying package updates
  change/@microsoft-fast-html-c58f41ad-e51e-494d-b63f-70130d53c5c9.json
  package-lock.json
  packages/web-components/fast-html/CHANGELOG.json
  packages/web-components/fast-html/CHANGELOG.md
  packages/web-components/fast-html/package.json
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v, @awentzel, @falkicon

Fixes an issue with undefined or null objects being checked for a proxy property
  packages/web-components/fast-html/src/components/observer-map.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Change files
  change/@microsoft-fast-html-fe962a44-2711-4c3d-b3f0-50653ce1a0be.json
Owners: none

Fixes an issue with undefined or null objects being checked for a proxy property (#7191)
  change/@microsoft-fast-html-fe962a44-2711-4c3d-b3f0-50653ce1a0be.json
  packages/web-components/fast-html/src/components/observer-map.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

applying package updates
  change/@microsoft-fast-html-fe962a44-2711-4c3d-b3f0-50653ce1a0be.json
  package-lock.json
  packages/web-components/fast-html/CHANGELOG.json
  packages/web-components/fast-html/CHANGELOG.md
  packages/web-components/fast-html/package.json
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v, @awentzel, @falkicon

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @chrisdholt @janechu @nicholasrice @radium-v

# File type specific owners
# Markdown specific files
*.md @awentzel @chrisdholt @falkicon
/docs/ @awentzel @chrisdholt @falkicon

# GitHub management
.github/ @awentzel @janechu @chrisdholt @nicholasrice
.github/workflows/ @awentzel @chrisdholt @nicholasrice

# Build scripts
*.yml @awentzel @janechu @nicholasrice @chrisdholt
build/ @janechu @nicholasrice @chrisdholt @awentzel

# Specifications
/specs/ @chrisdholt @janechu @nicholasrice

# Sites
/sites/website/ @awentzel @chrisdholt @falkicon

# Package specific owners

# Utilities
/packages/utilities/fast-web-utilities/ @janechu @chrisdholt @nicholasrice

# Web components
/packages/web-components/fast-element/ @chrisdholt @janechu @nicholasrice
/packages/web-components/fast-foundation/ @chrisdholt @bheston @scomea @radium-v @kingoftac

# the change directory has no owners
/change/
