Repository microsoft/fast, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisdholt, @janechu, @nicholasrice, @radium-v, @awentzel, @falkicon, @bheston, @scomea, @kingoftac

Convert dynamic to static imports for directives
  packages/web-components/fast-html/src/components/template.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Change files
  change/@microsoft-fast-html-7c08b7cb-09d4-4ac1-ad37-820b459d99b1.json
Owners: none

Convert dynamic to static imports for directives (#7193)
  change/@microsoft-fast-html-7c08b7cb-09d4-4ac1-ad37-820b459d99b1.json
  packages/web-components/fast-html/src/components/template.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

applying package updates
  change/@microsoft-fast-html-7c08b7cb-09d4-4ac1-ad37-820b459d99b1.json
  package-lock.json
  packages/web-components/fast-html/CHANGELOG.json
  packages/web-components/fast-html/CHANGELOG.md
  packages/web-components/fast-html/package.json
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v, @awentzel, @falkicon

fix: when an array is reduced to 0 items the observation should still kick in when array items are added
  packages/web-components/fast-html/src/components/observer-map.ts
  packages/web-components/fast-html/src/components/utilities.ts
  packages/web-components/fast-html/src/fixtures/observer-map/main.ts
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.fixture.html
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.spec.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Change files
  change/@microsoft-fast-html-2a8ef010-ad2b-4274-a246-8d161bf60a1a.json
Owners: none

Prevent a stack overflow from occuring
  packages/web-components/fast-html/src/components/utilities.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Add a nested object with array to the testing
  packages/web-components/fast-html/src/components/observer-map.ts
  packages/web-components/fast-html/src/fixtures/observer-map/main.ts
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.fixture.html
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.spec.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

fix: when an array is reduced to 0 items the observation should still happen when array items are added (#7197)
  change/@microsoft-fast-html-2a8ef010-ad2b-4274-a246-8d161bf60a1a.json
  packages/web-components/fast-html/src/components/observer-map.ts
  packages/web-components/fast-html/src/components/utilities.ts
  packages/web-components/fast-html/src/fixtures/observer-map/main.ts
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.fixture.html
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.spec.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

applying package updates
  change/@microsoft-fast-html-2a8ef010-ad2b-4274-a246-8d161bf60a1a.json
  package-lock.json
  packages/web-components/fast-html/CHANGELOG.json
  packages/web-components/fast-html/CHANGELOG.md
  packages/web-components/fast-html/package.json
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v, @awentzel, @falkicon

add requestIdleCallback ponyfill
  packages/web-components/fast-html/src/components/request-idle-callback.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

[feat]: add lifecycle callbacks for hydration and template events
  packages/web-components/fast-element/src/components/element-controller.ts
  packages/web-components/fast-element/src/components/fast-definitions.ts
  packages/web-components/fast-element/src/components/fast-element.ts
  packages/web-components/fast-element/src/index.ts
Owners: @chrisdholt, @janechu, @nicholasrice

[chore]: provide useful details in HydrationView error message
  packages/web-components/fast-element/src/templating/view.ts
Owners: @chrisdholt, @janechu, @nicholasrice

[feat]: implement lifecycle callbacks for hydration and template events
  packages/web-components/fast-html/docs/api-report.api.md
  packages/web-components/fast-html/package.json
  packages/web-components/fast-html/server/server.ts
  packages/web-components/fast-html/src/components/element.ts
  packages/web-components/fast-html/src/components/template.ts
  packages/web-components/fast-html/src/fixtures/README.md
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks-complex.html
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks-complex.json
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks-deferred.html
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks-deferred.json
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks-nested.html
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks-nested.json
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks-simple.html
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks-simple.json
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks.fixture.html
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks.spec.ts
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/main.ts
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/webpack.config.js
Owners: @awentzel, @chrisdholt, @falkicon, @janechu, @nicholasrice, @radium-v

update api docs
  packages/web-components/fast-element/docs/api-report.api.md
Owners: @chrisdholt, @janechu, @nicholasrice

Change files
  change/@microsoft-fast-element-343bfa36-99cd-48e3-991a-073c68da0b46.json
  change/@microsoft-fast-html-a8c10cbd-ba2a-4a05-9004-3bccbee24557.json
Owners: none

rewrite outdated test
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks.spec.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

[chore]: update test command in package.json and add playwright configuration
  packages/web-components/fast-html/package.json
  packages/web-components/fast-html/playwright.config.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

add documentation
  packages/web-components/fast-html/README.md
  packages/web-components/fast-html/RENDERING_LIFECYCLE.md
  packages/web-components/fast-html/src/components/index.ts
  packages/web-components/fast-html/src/components/template.ts
Owners: @awentzel, @chrisdholt, @falkicon, @janechu, @nicholasrice, @radium-v

update api report
  packages/web-components/fast-html/docs/api-report.api.md
Owners: @awentzel, @chrisdholt, @falkicon

[feat]: add lifecycle callbacks for hydration and template events (#7199)
  change/@microsoft-fast-element-343bfa36-99cd-48e3-991a-073c68da0b46.json
  change/@microsoft-fast-html-a8c10cbd-ba2a-4a05-9004-3bccbee24557.json
  packages/web-components/fast-element/docs/api-report.api.md
  packages/web-components/fast-element/src/components/element-controller.ts
  packages/web-components/fast-element/src/components/fast-definitions.ts
  packages/web-components/fast-element/src/components/fast-element.ts
  packages/web-components/fast-element/src/index.ts
  packages/web-components/fast-element/src/templating/view.ts
  packages/web-components/fast-html/README.md
  packages/web-components/fast-html/RENDERING_LIFECYCLE.md
  packages/web-components/fast-html/docs/api-report.api.md
  packages/web-components/fast-html/package.json
  packages/web-components/fast-html/playwright.config.ts
  packages/web-components/fast-html/server/server.ts
  packages/web-components/fast-html/src/components/element.ts
  packages/web-components/fast-html/src/components/index.ts
  packages/web-components/fast-html/src/components/request-idle-callback.ts
  packages/web-components/fast-html/src/components/template.ts
  packages/web-components/fast-html/src/fixtures/README.md
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks-complex.html
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks-complex.json
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks-deferred.html
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks-deferred.json
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks-nested.html
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks-nested.json
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks-simple.html
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks-simple.json
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks.fixture.html
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/lifecycle-callbacks.spec.ts
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/main.ts
  packages/web-components/fast-html/src/fixtures/lifecycle-callbacks/webpack.config.js
Owners: @chrisdholt, @janechu, @nicholasrice, @awentzel, @falkicon, @radium-v

applying package updates
  change/@microsoft-fast-element-343bfa36-99cd-48e3-991a-073c68da0b46.json
  change/@microsoft-fast-html-a8c10cbd-ba2a-4a05-9004-3bccbee24557.json
  examples/ssr/package.json
  examples/todo-app/package.json
  package-lock.json
  packages/web-components/fast-element/CHANGELOG.json
  packages/web-components/fast-element/CHANGELOG.md
  packages/web-components/fast-element/package.json
  packages/web-components/fast-html/CHANGELOG.json
  packages/web-components/fast-html/CHANGELOG.md
  packages/web-components/fast-html/package.json
  packages/web-components/fast-router/CHANGELOG.json
  packages/web-components/fast-router/package.json
  packages/web-components/fast-ssr/CHANGELOG.json
  packages/web-components/fast-ssr/package.json
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v, @awentzel, @falkicon

Add documentation for JSON schema generation and observer map APIs
  packages/web-components/fast-html/SCHEMA_OBSERVER_MAP.md
Owners: @awentzel, @chrisdholt, @falkicon

Change files
  change/@microsoft-fast-html-ab4fcc3c-9a95-4bcf-920d-f6ac7a7e1046.json
Owners: none

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @chrisdholt @janechu @nicholasrice @radium-v

# File type specific owners
# Markdown specific files
*.md @awentzel @chrisdholt @falkicon
/docs/ @awentzel @chrisdholt @falkicon

# GitHub management
.github/ @awentzel @janechu @chrisdholt @nicholasrice
.github/workflows/ @awentzel @chrisdholt @nicholasrice

# Build scripts
*.yml @awentzel @janechu @nicholasrice @chrisdholt
build/ @janechu @nicholasrice @chrisdholt @awentzel

# Specifications
/specs/ @chrisdholt @janechu @nicholasrice

# Sites
/sites/website/ @awentzel @chrisdholt @falkicon

# Package specific owners

# Utilities
/packages/utilities/fast-web-utilities/ @janechu @chrisdholt @nicholasrice

# Web components
/packages/web-components/fast-element/ @chrisdholt @janechu @nicholasrice
/packages/web-components/fast-foundation/ @chrisdholt @bheston @scomea @radium-v @kingoftac

# the change directory has no owners
/change/
