Repository microsoft/fast, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisdholt, @janechu, @nicholasrice, @radium-v, @awentzel, @falkicon, @bheston, @scomea, @kingoftac

.github/CODEOWNERS:

# Approval for at least one *code owner* is required all packages.

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more *code owners*.
# The last matching pattern has the most precendence.

# These *code owners* will be the default owners for everything in the repository.
* @chrisdholt @janechu @nicholasrice @radium-v

# File type specific owners
# Markdown specific files
*.md @awentzel @chrisdholt @falkicon
/docs/ @awentzel @chrisdholt @falkicon

# GitHub management
.github/ @awentzel @janechu @chrisdholt @nicholasrice
.github/workflows/ @awentzel @chrisdholt @nicholasrice

# Build scripts
*.yml @awentzel @janechu @nicholasrice @chrisdholt
build/ @janechu @nicholasrice @chrisdholt @awentzel

# Specifications
/specs/ @chrisdholt @janechu @nicholasrice

# Sites
/sites/website/ @awentzel @chrisdholt @falkicon

# Package specific owners

# Utilities
/packages/utilities/fast-web-utilities/ @janechu @chrisdholt @nicholasrice

# Web components
/packages/web-components/fast-element/ @chrisdholt @janechu @nicholasrice
/packages/web-components/fast-foundation/ @chrisdholt @bheston @scomea @radium-v @kingoftac

# the change directory has no owners
/change/

chore: namespace examples and site under the namespace (#7156)
  examples/ssr/package.json
  examples/ssr/src/main.ts
  examples/todo-app/package.json
  package-lock.json
  package.json
  sites/website/package.json
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v, @awentzel, @falkicon

chore: update dev dependencies
  examples/ssr/package.json
  examples/todo-app/package.json
  package-lock.json
  package.json
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

chore: update dev dependencies (#7157)
  examples/ssr/package.json
  examples/todo-app/package.json
  package-lock.json
  package.json
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Update README for @microsoft/fast-html
  packages/web-components/fast-html/README.md
Owners: @awentzel, @chrisdholt, @falkicon

Change files
  change/@microsoft-fast-html-84ef0239-7abc-4bc9-9e83-93c3596a5a2e.json
Owners: none

fix: update elementOptions assignment to use static reference
  packages/web-components/fast-html/src/components/template.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Change files
  change/@microsoft-fast-html-c7032767-59e2-4593-b9a9-3bc7532f6246.json
Owners: none

fix(fast-html): update elementOptions assignment to use static reference (#7159)
  change/@microsoft-fast-html-c7032767-59e2-4593-b9a9-3bc7532f6246.json
  packages/web-components/fast-html/src/components/template.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Update README for @microsoft/fast-html (#7158)
  change/@microsoft-fast-html-84ef0239-7abc-4bc9-9e83-93c3596a5a2e.json
  packages/web-components/fast-html/README.md
Owners: @awentzel, @chrisdholt, @falkicon

remove shadowOptions from TemplateElement.options()
  packages/web-components/fast-html/README.md
  packages/web-components/fast-html/docs/api-report.api.md
  packages/web-components/fast-html/src/components/template.ts
Owners: @awentzel, @chrisdholt, @falkicon, @janechu, @nicholasrice, @radium-v

remove shadowOptions observable
  packages/web-components/fast-element/src/components/fast-definitions.ts
Owners: @chrisdholt, @janechu, @nicholasrice

Add a Schema class that constructs a JSON schema from paths
  packages/web-components/fast-html/src/components/schema.spec.ts
  packages/web-components/fast-html/src/components/schema.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Change files
  change/@microsoft-fast-html-0c3b36c4-1faa-425c-9241-9e4924b5ce37.json
Owners: none

Remove only on schema tests and remove some nesting logic
  packages/web-components/fast-html/src/components/schema.spec.ts
  packages/web-components/fast-html/src/components/schema.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Update packages/web-components/fast-html/src/components/schema.ts
  packages/web-components/fast-html/src/components/schema.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Change object record to map, create var to hold root schema
  packages/web-components/fast-html/src/components/schema.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Add a Schema class that constructs a JSON schema from paths (#7161)
  change/@microsoft-fast-html-0c3b36c4-1faa-425c-9241-9e4924b5ce37.json
  packages/web-components/fast-html/src/components/schema.spec.ts
  packages/web-components/fast-html/src/components/schema.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Change files
  change/@microsoft-fast-element-f9a51647-1983-45ac-b922-fcc2ba31d944.json
  change/@microsoft-fast-html-a4fe78e1-e721-4dfc-aebe-59c758d85de5.json
Owners: none

remove outdated test
  packages/web-components/fast-element/src/components/element-controller.spec.ts
Owners: @chrisdholt, @janechu, @nicholasrice

Fix FAST lint warnings (#21)
  change/@ni-fast-element-a1b73b56-6a75-4ff0-88d8-c60e3e0edace.json
  change/@ni-fast-foundation-419a509e-ab58-4731-894e-8e7316020bdf.json
  change/@ni-fast-web-utilities-e8e91036-5c2a-49bb-a426-96e7304514ed.json
  packages/utilities/fast-web-utilities/src/dom.ts
  packages/web-components/fast-element/src/components/controller.ts
  packages/web-components/fast-element/src/dom.ts
  packages/web-components/fast-element/src/styles/element-styles.ts
  packages/web-components/fast-foundation/src/accordion/accordion.ts
  packages/web-components/fast-foundation/src/breadcrumb/breadcrumb.ts
  packages/web-components/fast-foundation/src/button/button.ts
  packages/web-components/fast-foundation/src/calendar/calendar.ts
  packages/web-components/fast-foundation/src/di/di.ts
  packages/web-components/fast-foundation/src/switch/switch.ts
  packages/web-components/fast-foundation/src/tabs/tabs.ts
Owners: @janechu, @chrisdholt, @nicholasrice, @bheston, @scomea, @radium-v, @kingoftac

applying package updates [skip ci]
  change/@ni-fast-element-a1b73b56-6a75-4ff0-88d8-c60e3e0edace.json
  change/@ni-fast-foundation-419a509e-ab58-4731-894e-8e7316020bdf.json
  change/@ni-fast-web-utilities-e8e91036-5c2a-49bb-a426-96e7304514ed.json
  package-lock.json
  packages/utilities/fast-react-wrapper/CHANGELOG.json
  packages/utilities/fast-react-wrapper/CHANGELOG.md
  packages/utilities/fast-react-wrapper/package.json
  packages/utilities/fast-web-utilities/CHANGELOG.json
  packages/utilities/fast-web-utilities/CHANGELOG.md
  packages/utilities/fast-web-utilities/package.json
  packages/web-components/fast-element/CHANGELOG.json
  packages/web-components/fast-element/CHANGELOG.md
  packages/web-components/fast-element/package.json
  packages/web-components/fast-foundation/CHANGELOG.json
  packages/web-components/fast-foundation/CHANGELOG.md
  packages/web-components/fast-foundation/package.json
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v, @awentzel, @falkicon, @bheston, @scomea, @kingoftac

Update utilities with path resolving logic that removes ../ additionally removes partial and apply
  packages/web-components/fast-html/README.md
  packages/web-components/fast-html/docs/api-report.api.md
  packages/web-components/fast-html/package.json
  packages/web-components/fast-html/src/components/observer-map.spec.ts
  packages/web-components/fast-html/src/components/observer-map.ts
  packages/web-components/fast-html/src/components/schema.spec.ts
  packages/web-components/fast-html/src/components/schema.ts
  packages/web-components/fast-html/src/components/template.ts
  packages/web-components/fast-html/src/components/utilities.spec.ts
  packages/web-components/fast-html/src/components/utilities.ts
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.fixture.html
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.spec.ts
  packages/web-components/fast-html/src/fixtures/partial/main.ts
  packages/web-components/fast-html/src/fixtures/partial/partial.fixture.html
  packages/web-components/fast-html/src/fixtures/partial/partial.html
  packages/web-components/fast-html/src/fixtures/partial/partial.json
  packages/web-components/fast-html/src/fixtures/partial/partial.spec.ts
  packages/web-components/fast-html/src/fixtures/partial/webpack.config.js
  packages/web-components/fast-html/src/fixtures/repeat/main.ts
  packages/web-components/fast-html/src/fixtures/repeat/repeat.fixture.html
  packages/web-components/fast-html/src/fixtures/repeat/repeat.html
  packages/web-components/fast-html/src/fixtures/repeat/repeat.json
Owners: @awentzel, @chrisdholt, @falkicon, @janechu, @nicholasrice, @radium-v

Change files
  change/@microsoft-fast-html-8ecf68f7-1e8c-4d6d-b846-c2ea62d01c8f.json
Owners: none

Update utilities with path resolving logic that removes ../ (#7163)
  change/@microsoft-fast-html-8ecf68f7-1e8c-4d6d-b846-c2ea62d01c8f.json
  packages/web-components/fast-html/README.md
  packages/web-components/fast-html/docs/api-report.api.md
  packages/web-components/fast-html/package.json
  packages/web-components/fast-html/src/components/observer-map.spec.ts
  packages/web-components/fast-html/src/components/observer-map.ts
  packages/web-components/fast-html/src/components/schema.spec.ts
  packages/web-components/fast-html/src/components/schema.ts
  packages/web-components/fast-html/src/components/template.ts
  packages/web-components/fast-html/src/components/utilities.spec.ts
  packages/web-components/fast-html/src/components/utilities.ts
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.fixture.html
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.spec.ts
  packages/web-components/fast-html/src/fixtures/partial/main.ts
  packages/web-components/fast-html/src/fixtures/partial/partial.fixture.html
  packages/web-components/fast-html/src/fixtures/partial/partial.html
  packages/web-components/fast-html/src/fixtures/partial/partial.json
  packages/web-components/fast-html/src/fixtures/partial/partial.spec.ts
  packages/web-components/fast-html/src/fixtures/partial/webpack.config.js
  packages/web-components/fast-html/src/fixtures/repeat/main.ts
  packages/web-components/fast-html/src/fixtures/repeat/repeat.fixture.html
  packages/web-components/fast-html/src/fixtures/repeat/repeat.html
  packages/web-components/fast-html/src/fixtures/repeat/repeat.json
Owners: @awentzel, @chrisdholt, @falkicon, @janechu, @nicholasrice, @radium-v

Convert path caching to use schema
  packages/web-components/fast-html/README.md
  packages/web-components/fast-html/docs/api-report.api.md
  packages/web-components/fast-html/src/components/observer-map.spec.ts
  packages/web-components/fast-html/src/components/observer-map.ts
  packages/web-components/fast-html/src/components/schema.ts
  packages/web-components/fast-html/src/components/template.ts
  packages/web-components/fast-html/src/components/utilities.spec.ts
  packages/web-components/fast-html/src/components/utilities.ts
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.spec.ts
Owners: @awentzel, @chrisdholt, @falkicon, @janechu, @nicholasrice, @radium-v

applying package updates
  change/@microsoft-fast-html-0c3b36c4-1faa-425c-9241-9e4924b5ce37.json
  change/@microsoft-fast-html-84ef0239-7abc-4bc9-9e83-93c3596a5a2e.json
  change/@microsoft-fast-html-c7032767-59e2-4593-b9a9-3bc7532f6246.json
  package-lock.json
  packages/web-components/fast-html/CHANGELOG.json
  packages/web-components/fast-html/CHANGELOG.md
  packages/web-components/fast-html/package.json
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v, @awentzel, @falkicon

Fix issue with pathing in repeat objects
  packages/web-components/fast-html/src/components/schema.ts
  packages/web-components/fast-html/src/components/utilities.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v

Update utilities with path resolving logic that removes ../ (#7163)
  change/@microsoft-fast-html-8ecf68f7-1e8c-4d6d-b846-c2ea62d01c8f.json
  packages/web-components/fast-html/README.md
  packages/web-components/fast-html/docs/api-report.api.md
  packages/web-components/fast-html/package.json
  packages/web-components/fast-html/src/components/observer-map.spec.ts
  packages/web-components/fast-html/src/components/observer-map.ts
  packages/web-components/fast-html/src/components/schema.spec.ts
  packages/web-components/fast-html/src/components/schema.ts
  packages/web-components/fast-html/src/components/template.ts
  packages/web-components/fast-html/src/components/utilities.spec.ts
  packages/web-components/fast-html/src/components/utilities.ts
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.fixture.html
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.spec.ts
  packages/web-components/fast-html/src/fixtures/partial/main.ts
  packages/web-components/fast-html/src/fixtures/partial/partial.fixture.html
  packages/web-components/fast-html/src/fixtures/partial/partial.html
  packages/web-components/fast-html/src/fixtures/partial/partial.json
  packages/web-components/fast-html/src/fixtures/partial/partial.spec.ts
  packages/web-components/fast-html/src/fixtures/partial/webpack.config.js
  packages/web-components/fast-html/src/fixtures/repeat/main.ts
  packages/web-components/fast-html/src/fixtures/repeat/repeat.fixture.html
  packages/web-components/fast-html/src/fixtures/repeat/repeat.html
  packages/web-components/fast-html/src/fixtures/repeat/repeat.json
Owners: @awentzel, @chrisdholt, @falkicon, @janechu, @nicholasrice, @radium-v

Convert path caching to use schema (#7165)
  packages/web-components/fast-html/README.md
  packages/web-components/fast-html/docs/api-report.api.md
  packages/web-components/fast-html/src/components/observer-map.spec.ts
  packages/web-components/fast-html/src/components/observer-map.ts
  packages/web-components/fast-html/src/components/schema.ts
  packages/web-components/fast-html/src/components/template.ts
  packages/web-components/fast-html/src/components/utilities.spec.ts
  packages/web-components/fast-html/src/components/utilities.ts
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.spec.ts
Owners: @awentzel, @chrisdholt, @falkicon, @janechu, @nicholasrice, @radium-v

Use schema as path caching update path syntax (#7166)
  change/@microsoft-fast-html-8ecf68f7-1e8c-4d6d-b846-c2ea62d01c8f.json
  packages/web-components/fast-html/README.md
  packages/web-components/fast-html/docs/api-report.api.md
  packages/web-components/fast-html/package.json
  packages/web-components/fast-html/src/components/observer-map.spec.ts
  packages/web-components/fast-html/src/components/observer-map.ts
  packages/web-components/fast-html/src/components/schema.spec.ts
  packages/web-components/fast-html/src/components/schema.ts
  packages/web-components/fast-html/src/components/template.ts
  packages/web-components/fast-html/src/components/utilities.spec.ts
  packages/web-components/fast-html/src/components/utilities.ts
  packages/web-components/fast-html/src/fixtures/observer-map/observer-map.fixture.html
  packages/web-components/fast-html/src/fixtures/partial/main.ts
  packages/web-components/fast-html/src/fixtures/partial/partial.fixture.html
  packages/web-components/fast-html/src/fixtures/partial/partial.html
  packages/web-components/fast-html/src/fixtures/partial/partial.json
  packages/web-components/fast-html/src/fixtures/partial/partial.spec.ts
  packages/web-components/fast-html/src/fixtures/partial/webpack.config.js
  packages/web-components/fast-html/src/fixtures/repeat/main.ts
  packages/web-components/fast-html/src/fixtures/repeat/repeat.fixture.html
  packages/web-components/fast-html/src/fixtures/repeat/repeat.html
  packages/web-components/fast-html/src/fixtures/repeat/repeat.json
Owners: @awentzel, @chrisdholt, @falkicon, @janechu, @nicholasrice, @radium-v

applying package updates
  change/@microsoft-fast-html-8ecf68f7-1e8c-4d6d-b846-c2ea62d01c8f.json
  package-lock.json
  packages/web-components/fast-html/CHANGELOG.json
  packages/web-components/fast-html/CHANGELOG.md
  packages/web-components/fast-html/package.json
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v, @awentzel, @falkicon

updated getting started docs
  sites/website/src/pages/index.jsx
Owners: @awentzel, @chrisdholt, @falkicon

remove shadowOptions from TemplateElement.options() (#7160)
  change/@microsoft-fast-element-f9a51647-1983-45ac-b922-fcc2ba31d944.json
  change/@microsoft-fast-html-a4fe78e1-e721-4dfc-aebe-59c758d85de5.json
  packages/web-components/fast-element/src/components/element-controller.spec.ts
  packages/web-components/fast-element/src/components/fast-definitions.ts
  packages/web-components/fast-html/README.md
  packages/web-components/fast-html/docs/api-report.api.md
  packages/web-components/fast-html/src/components/template.ts
Owners: @chrisdholt, @janechu, @nicholasrice, @awentzel, @falkicon, @radium-v

applying package updates
  change/@microsoft-fast-element-f9a51647-1983-45ac-b922-fcc2ba31d944.json
  change/@microsoft-fast-html-a4fe78e1-e721-4dfc-aebe-59c758d85de5.json
  examples/ssr/package.json
  examples/todo-app/package.json
  package-lock.json
  packages/web-components/fast-element/CHANGELOG.json
  packages/web-components/fast-element/CHANGELOG.md
  packages/web-components/fast-element/package.json
  packages/web-components/fast-html/CHANGELOG.json
  packages/web-components/fast-html/CHANGELOG.md
  packages/web-components/fast-html/package.json
  packages/web-components/fast-router/CHANGELOG.json
  packages/web-components/fast-router/package.json
  packages/web-components/fast-ssr/CHANGELOG.json
  packages/web-components/fast-ssr/package.json
Owners: @chrisdholt, @janechu, @nicholasrice, @radium-v, @awentzel, @falkicon

Add rendering lifecycle documentation and update define to defineAsync
  packages/web-components/fast-html/RENDERING.md
  packages/web-components/fast-html/RENDERING_LIFECYCLE.md
Owners: @awentzel, @chrisdholt, @falkicon

Change files
  change/@microsoft-fast-html-485f442f-a1ce-4e24-8d6d-0e12b5d9f801.json
Owners: none

Address PR comments
  packages/web-components/fast-html/RENDERING.md
  packages/web-components/fast-html/RENDERING_LIFECYCLE.md
Owners: @awentzel, @chrisdholt, @falkicon

Add rendering lifecycle documentation and update define to defineAsync (#7174)
  change/@microsoft-fast-html-485f442f-a1ce-4e24-8d6d-0e12b5d9f801.json
  packages/web-components/fast-html/RENDERING.md
  packages/web-components/fast-html/RENDERING_LIFECYCLE.md
Owners: @awentzel, @chrisdholt, @falkicon

Add further docs on client side bindings and hydration markers
  packages/web-components/fast-html/RENDERING.md
Owners: @awentzel, @chrisdholt, @falkicon

Change files
  change/@microsoft-fast-html-9d4421c0-5569-451d-8a32-ff02e3ec471d.json
Owners: none
