Repository microsoft/fast, pull requests merged in 2020-09, with the labels that each got.

#3821 chore: add twitter and og meta tags
  sites/fast-color-explorer/app/index.html
  sites/fast-component-explorer/app/index.html
  sites/fast-creator/app/index.html
  sites/fast-tooling-examples/app/index.html
  sites/fast-website/src/public/index.ejs
  sites/fast-website/webpack.dev.js
  sites/site-utilities/src/curated-html.json
Labels: improvement

#3867 fix: able to keyboard tab back in the tree view
  packages/web-components/fast-foundation/src/tree-view/tree-view.template.ts
Labels: area:fast-components

#3865 chore(deps): bump yarns-parser to resolve security vulnerability
  yarn.lock
Labels: compliance:security, dependencies

#3879 fix: able to keyboard tab out of tree-view when focused on a child item
  packages/web-components/fast-foundation/src/tree-item/tree-item.ts
Labels: area:fast-components, area:fast-foundation, bug

#3770 docs(spec): add skeleton spec
  specs/skeleton.md
Labels: area:fast-foundation, docs:spec, status:in-progress

#3890 fix: tree-view right and left arrow keyboarding should behave as wai-aria spec suggests
  packages/web-components/fast-foundation/src/tree-item/tree-item.ts
Labels: area:fast-foundation

#3899 Update to remediate high severity vulnerabilities in dependencies
  packages/tooling/fast-tooling-react/package.json
  yarn.lock
Labels: chore, compliance:security, dependencies

#3905 fix: ensure badge always applies inline-style when attributes exist
  packages/web-components/fast-foundation/src/badge/badge.template.ts
  packages/web-components/fast-foundation/src/badge/badge.ts
Labels: area:fast-components, area:fast-foundation

#3915 fix: aria attributes for slider should have explicit values
  packages/web-components/fast-components/docs/api-report.md
  packages/web-components/fast-foundation/docs/api-report.md
  packages/web-components/fast-foundation/src/slider/slider.template.ts
Labels: area:fast-components, area:fast-foundation, compliance:a11y

#3924 chore: add unit tests for fast-foundation components
  packages/web-components/fast-foundation/src/accordion-item/accordion-item.spec.ts
  packages/web-components/fast-foundation/src/accordion/accordion.spec.ts
  packages/web-components/fast-foundation/src/anchor/anchor.spec.ts
  packages/web-components/fast-foundation/src/badge/badge.spec.ts
  packages/web-components/fast-foundation/src/button/button.spec.ts
  packages/web-components/fast-foundation/src/checkbox/checkbox.spec.ts
  packages/web-components/fast-foundation/src/dialog/dialog.spec.ts
  packages/web-components/fast-foundation/src/divider/divider.spec.ts
  packages/web-components/fast-foundation/src/flipper/flipper.spec.ts
  packages/web-components/fast-foundation/src/form-associated/form-associated.spec.ts
  packages/web-components/fast-foundation/src/menu-item/menu-item.spec.ts
  packages/web-components/fast-foundation/src/menu/menu.spec.ts
  packages/web-components/fast-foundation/src/progress-ring/progress-ring.spec.ts
  packages/web-components/fast-foundation/src/progress/progress.spec.ts
  packages/web-components/fast-foundation/src/radio-group/radio-group.spec.ts
  packages/web-components/fast-foundation/src/radio/radio.spec.ts
  packages/web-components/fast-foundation/src/slider-label/slider-label.spec.ts
  packages/web-components/fast-foundation/src/slider/slider.spec.ts
  packages/web-components/fast-foundation/src/switch/switch.spec.ts
  packages/web-components/fast-foundation/src/tab-panel/tab-panel.spec.ts
  packages/web-components/fast-foundation/src/tab/tab.spec.ts
  packages/web-components/fast-foundation/src/tabs/tabs.spec.ts
  packages/web-components/fast-foundation/src/text-area/text-area.spec.ts
  packages/web-components/fast-foundation/src/text-field/text-field.spec.ts
  packages/web-components/fast-foundation/src/tree-item/tree-item.spec.ts
  packages/web-components/fast-foundation/src/tree-view/tree-view.spec.ts
Labels: area:fast-foundation, improvement

#3929 chore: update to resolve sec vulnerability in node-forge
  examples/todo-app-tutorial/package.json
  sites/fast-website/package.json
  yarn.lock
Labels: chore, compliance:security

#3549 feat: add tooltip component
  packages/web-components/fast-components/docs/api-report.md
  packages/web-components/fast-components/src/component-definitions.ts
  packages/web-components/fast-components/src/index.ts
  packages/web-components/fast-components/src/tooltip/README.md
  packages/web-components/fast-components/src/tooltip/fixtures/base.html
  packages/web-components/fast-components/src/tooltip/index.ts
  packages/web-components/fast-components/src/tooltip/tooltip.definition.ts
  packages/web-components/fast-components/src/tooltip/tooltip.open-ui.definition.json
  packages/web-components/fast-components/src/tooltip/tooltip.stories.ts
  packages/web-components/fast-components/src/tooltip/tooltip.styles.ts
  packages/web-components/fast-foundation/docs/api-report.md
  packages/web-components/fast-foundation/src/index.ts
  packages/web-components/fast-foundation/src/tooltip/README.md
  packages/web-components/fast-foundation/src/tooltip/index.ts
  packages/web-components/fast-foundation/src/tooltip/tooltip.spec.md
  packages/web-components/fast-foundation/src/tooltip/tooltip.spec.ts
  packages/web-components/fast-foundation/src/tooltip/tooltip.template.ts
  packages/web-components/fast-foundation/src/tooltip/tooltip.ts
  sites/fast-component-explorer/app/fast-components/configs/fast-tooltip.ts
  sites/fast-component-explorer/app/fast-components/configs/index.ts
  sites/site-utilities/src/definitions/fast-components/fast-tooltip.definition.ts
  sites/website/sidebars.js
Labels: area:fast-components, area:fast-foundation, community:noteworthy, feature

#3951 fix: tree view item should have a click handler on root element
  packages/web-components/fast-foundation/docs/api-report.md
  packages/web-components/fast-foundation/src/tree-item/tree-item.spec.ts
  packages/web-components/fast-foundation/src/tree-item/tree-item.template.ts
  packages/web-components/fast-foundation/src/tree-item/tree-item.ts
Labels: area:fast-components, bug, compliance:a11y

#3967 fix: update high contrast light theme foreground color on pivot
  sites/fast-component-explorer/app/explorer.style.ts
Labels: area:tools, bug

#3970 fix: update text on adaptive fast frame component to use high contrast foreground color
  sites/fast-website/src/app/components/fast-frame/fast-frame.styles.ts
Labels: area:site, bug

#3877 feat: add skeleton component
  packages/web-components/fast-components/src/skeleton/README.md
  packages/web-components/fast-components/src/skeleton/fixtures/base.html
  packages/web-components/fast-components/src/skeleton/index.ts
  packages/web-components/fast-components/src/skeleton/skeleton.definitions.ts
  packages/web-components/fast-components/src/skeleton/skeleton.open-ui.definitions.json
  packages/web-components/fast-components/src/skeleton/skeleton.stories.ts
  packages/web-components/fast-components/src/skeleton/skeleton.styles.ts
  packages/web-components/fast-foundation/docs/api-report.md
  packages/web-components/fast-foundation/src/index.ts
  packages/web-components/fast-foundation/src/skeleton/README.md
  packages/web-components/fast-foundation/src/skeleton/index.ts
  packages/web-components/fast-foundation/src/skeleton/skeleton.template.ts
  packages/web-components/fast-foundation/src/skeleton/skeleton.ts
  sites/site-utilities/statics/assets/skeleton-test-pattern.svg
  sites/website/sidebars.js
Labels: area:fast-components, feature, status:in-progress
