Repository microsoft/fast, pull requests merged in 2020-10, with the labels that each got.

#3994 fix: prevent overlap of focus border with start element contents
  packages/web-components/fast-components/src/accordion-item/accordion-item.styles.ts
Labels: area:fast-components, improvement

#3999 chore: move and update skeleton spec
  packages/web-components/fast-foundation/src/skeleton/skeleton.spec.md
  specs/README.md
Labels: area:fast-foundation, chore, docs:spec

#4025 fix: update high contrast outline color on progress bar
  packages/web-components/fast-components/src/progress/progress.styles.ts
Labels: bug

#4030 feat: add show and hide methods to dialog
  packages/web-components/fast-foundation/docs/api-report.md
  packages/web-components/fast-foundation/src/dialog/dialog.spec.ts
  packages/web-components/fast-foundation/src/dialog/dialog.ts
Labels: area:fast-components, area:fast-foundation

#4069 fix: add high contrast color for adaptive UI tab, on hover
  sites/fast-website/src/app/components/fast-frame/fast-frame.styles.ts
Labels: area:site, bug

#4081 fix: update start and end slot to remove fixed width and height
  packages/web-components/fast-components/src/breadcrumb-item/breadcrumb-item.styles.ts
  packages/web-components/fast-components/src/menu-item/menu-item.styles.ts
  packages/web-components/fast-components/src/styles/patterns/button.ts
  packages/web-components/fast-components/src/text-field/text-field.styles.ts
  packages/web-components/fast-components/src/tree-item/tree-item.styles.ts
Labels: area:fast-components
