Repository microsoft/fast, pull requests merged in 2020-08, with the labels that each got.

#3613 chore: add missing close html script tag.
  packages/web-components/fast-components/README.md
Labels: area:site, bug, docs:article

#3611 fix: add aria-label to item button to fix screen reader from reading out the Unicode
  examples/todo-app-tutorial/src/todo-app.ts
  examples/todo-app-tutorial/src/todo-item.ts
Labels: area:site, bug, docs:example

#3607 fix: correct slider track margin to react to density level
  packages/web-components/fast-components/src/slider/slider.styles.ts
Labels: area:fast-components, improvement

#3617 chore: update badge to be static color and update temporary image background color
  sites/fast-website/src/app/components/fast-frame/fast-frame.styles.ts
  yarn.lock
Labels: area:site, compliance:a11y

#3626 chore: update to remove legal and profanity concerns
  .github/ISSUE_TEMPLATE/report-a-bug.md
  sites/website/src/docs/resources/browser-support.md
  sites/website/src/docs/resources/faq.md
Labels: area:dev-ops, compliance:security

#3640 fix: update min-width of fast-slider to design-unit * 1px
  packages/web-components/fast-components/src/slider/slider.styles.ts
Labels: area:fast-components

#3642 fix: changed setupDefault to set initialValue which will set dirtyValue fa…
  packages/web-components/fast-components/src/slider/fixtures/base.html
  packages/web-components/fast-foundation/src/button/button.ts
  packages/web-components/fast-foundation/src/form-associated/form-associated.ts
  packages/web-components/fast-foundation/src/menu-item/menu-item.ts
  packages/web-components/fast-foundation/src/slider/slider.ts
Labels: area:fast-components

#3633 docs: add development instructions to contributing.md
  CONTRIBUTING.md
Labels: docs:article

#3654 chore: swap expand and collapse icons for accordion on component explorer
  packages/web-components/fast-components/src/accordion/fixtures/base.html
  sites/fast-component-explorer/app/fast-components/configs/fast-accordion.ts
Labels: area:site

#3671 chore(cloud): add helmet for security improvements to node express server
  sites/site-utilities/statics/server/package.json
  sites/site-utilities/statics/server/server.js
Labels: area:cloud, compliance:security

#3677 chore: update to resolve char issue and unpin
  sites/site-utilities/statics/server/package.json
Labels: area:cloud, area:dev-ops

#3700 chore: update to helmet configuration to omit csp
  sites/site-utilities/statics/server/server.js
Labels: area:cloud, chore, compliance:security

#3701 fix: anchored region fails on firefox
  packages/web-components/fast-components/src/anchored-region/fixtures/base.html
  packages/web-components/fast-foundation/src/anchored-region/anchored-region.ts
Labels: area:fast-foundation, bug

#3708 fix: hypertext and lightweight display and min-width styles
  packages/web-components/fast-components/src/anchor/fixtures/anchor.html
  packages/web-components/fast-components/src/styles/patterns/button.ts
Labels: area:fast-components, bug

#3713 refactor: add footer to all websites
  package.json
  packages/tooling/fast-tooling-react/src/form/form.style.ts
  sites/fast-color-explorer/app/app.tsx
  sites/fast-color-explorer/app/declarations.d.ts
  sites/fast-color-explorer/app/index.html
  sites/fast-color-explorer/app/site-footer.tsx
  sites/fast-color-explorer/package.json
  sites/fast-color-explorer/webpack.config.js
  sites/fast-component-explorer/app/declarations.d.ts
  sites/fast-component-explorer/app/explorer-region.tsx
  sites/fast-component-explorer/app/explorer.style.ts
  sites/fast-component-explorer/app/index.html
  sites/fast-component-explorer/app/site-footer.tsx
  sites/fast-component-explorer/package.json
  sites/fast-component-explorer/webpack.config.js
  sites/fast-creator/app/creator.tsx
  sites/fast-creator/app/declarations.d.ts
  sites/fast-creator/app/index.html
  sites/fast-creator/app/site-footer.tsx
  sites/fast-website/.gitignore
  sites/fast-website/.npmrc
  sites/fast-website/.prettierignore
  sites/fast-website/package.json
  sites/fast-website/rollup.config.js
  sites/fast-website/src/app/components/background-design/background-design.styles.ts
  sites/fast-website/src/app/components/card-section/card-section.styles.ts
  sites/fast-website/src/app/components/content-placement-container/content-placement-container.styles.ts
  sites/fast-website/src/app/components/feature-card/feature-card.styles.ts
  sites/fast-website/src/app/components/index.ts
  sites/fast-website/src/app/components/navigation-item/index.ts
  sites/fast-website/src/app/components/navigation-item/navigation-item.styles.ts
  sites/fast-website/src/app/components/navigation-item/navigation-item.template.ts
  sites/fast-website/src/app/components/navigation-item/navigation-item.ts
  sites/fast-website/src/app/components/navigation/navigation.styles.ts
  sites/fast-website/src/app/components/navigation/navigation.template.ts
  sites/fast-website/src/app/components/navigation/navigation.ts
  sites/fast-website/src/app/css/base.css
  sites/fast-website/src/app/css/footer.css
  sites/fast-website/src/app/css/header.css
  sites/fast-website/src/app/css/logo.css
  sites/fast-website/src/app/css/root.css
  sites/fast-website/src/app/css/section-decoration.css
  sites/fast-website/src/app/css/side-nav-container.css
  sites/fast-website/src/app/css/site-wrapper.css
  sites/fast-website/src/app/css/style.css
  sites/fast-website/src/custom.d.ts
  sites/fast-website/src/index-rollup.ts
  sites/fast-website/src/public/footer.ejs
  sites/fast-website/src/public/header.ejs
  sites/fast-website/src/public/index.ejs
  sites/fast-website/tsconfig.json
  sites/fast-website/webpack.common.js
  sites/fast-website/yarn.lock
  sites/website/.npmrc
  sites/website/docusaurus.config.js
  sites/website/src/build-homepage.js
  sites/website/src/css/custom.css
  sites/website/src/theme/Footer/index.js
  sites/website/src/theme/Footer/styles.module.css
  yarn.lock
Labels: area:site, chore, compliance:privacy

#3719 fix: restore original docusaurus footer
  sites/website/docusaurus.config.js
  sites/website/src/css/custom.css
  sites/website/src/theme/Footer/index.js
  sites/website/src/theme/Footer/styles.module.css
Labels: area:site, bug

#3733 chore(deps): upgrade elliptic from v6.5.1 to v6.5.3
  yarn.lock
Labels: compliance:security

#3735 chore(deps): upgrade dot-prop to be >= v4.2.1
  yarn.lock
Labels: compliance:security

#3736 chore(deps): upgrade kind-of from v6.0.2 to v6.0.3
  yarn.lock
Labels: compliance:security

#3739 chore: update security for xss and http
  CODE_OF_CONDUCT.md
  README.md
  build/testing/sauce-labs/test-browsers.js
  packages/web-components/README.md
  packages/web-components/fast-components/README.md
  packages/web-components/fast-element/README.md
  packages/web-components/fast-foundation/README.md
  sites/fast-website/src/public/index.ejs
  sites/site-utilities/statics/server/server.js
  sites/website/src/docs/community/writing-documentation.md
Labels: area:cloud, area:dev-ops, area:site, compliance:security

#3716 chore: remove package not in use to fix dependency issue
  sites/fast-component-explorer/package.json
  yarn.lock
Labels: area:dev-ops, chore, compliance:security

#3757 chore: update to use recommended privacy links
  sites/fast-website/src/public/footer.ejs
  sites/website/docusaurus.config.js
Labels: area:dev-ops, area:site, compliance:privacy

#3756 fix: update action for weekly validation on code scanner
  .github/workflows/ci-weekly.yml
Labels: area:dev-ops, bug, compliance:security

#3769 chore(security): update to resolve security vulnerabilities
  yarn.lock
Labels: area:dev-ops, compliance:security, improvement

#3782 chore: replace badges with local static versions on docs site
  package.json
  packages/web-components/fast-foundation/src/card/README.md
  sites/fast-website/package.json
  sites/fast-website/webpack.common.js
  sites/site-utilities/.gitignore
  sites/site-utilities/build/badges.js
  sites/site-utilities/package.json
  sites/website/docusaurus.config.js
  sites/website/package.json
  sites/website/src/build-homepage.js
  sites/website/src/build-static.js
  sites/website/src/docs/components/getting-started.md
  sites/website/src/prepare-docs.js
  yarn.lock
Labels: area:site, chore, compliance:security

#3785 chore(actions): update for better maintainability
  .github/workflows/cd-www-stage.yml
  .github/workflows/ci-daily.yml
  .github/workflows/ci-weekly.yml
  .github/workflows/pr.yml
Labels: area:dev-ops, chore, improvement, status:in-progress

#3747 chore(docs): add design systems section to documentation
  packages/web-components/fast-components/docs/api-report.md
  packages/web-components/fast-components/docs/design/design-system.md
  packages/web-components/fast-components/docs/design/type-ramp.md
  packages/web-components/fast-components/src/design-system-provider/index.ts
  packages/web-components/fast-components/src/fast-design-system.ts
  packages/web-components/fast-components/src/styles/recipes.ts
  packages/web-components/fast-foundation/docs/api-report.md
  packages/web-components/fast-foundation/src/design-system-provider/README.md
  packages/web-components/fast-foundation/src/design-system-provider/design-system-provider.ts
  sites/website/sidebars.js
  sites/website/src/docs/design-systems/creating-a-design-system.md
  sites/website/src/docs/design-systems/fast-frame.md
  sites/website/src/docs/design-systems/overview.md
  sites/website/src/docs/design-systems/using-the-design-system.md
  sites/website/src/docs/resources/glossary.md
Labels: area:site, chore, community:noteworthy, docs:article

#3793 fix: label on sketch picker input is using the correct color
  sites/fast-color-explorer/app/control-pane.tsx
Labels: area:fast-colors, bug

#3779 fix: proxy element causes empty check on slots to fail
  packages/web-components/fast-foundation/src/form-associated/form-associated.ts
Labels: area:fast-foundation, bug

#3776 fix: remove headings tag on fast-frame template
  sites/fast-website/src/app/components/fast-frame/fast-frame.styles.ts
  sites/fast-website/src/app/components/fast-frame/fast-frame.template.ts
Labels: area:site

#3799 chore(cd): update to correct package install when using yarn
  .github/workflows/cd-www-stage.yml
Labels: area:cloud, bug

#3809 fix: badge padding and fast-switch defaults on homepage fast-frame
  sites/fast-website/src/app/components/fast-frame/fast-frame.styles.ts
  sites/fast-website/src/app/components/fast-frame/fast-frame.template.ts
Labels: area:site, bug

#3794 feat: add hover state for expand collapse button in tree-item
  packages/web-components/fast-components/src/styles/recipes.ts
  packages/web-components/fast-components/src/tree-item/tree-item.styles.ts
Labels: area:fast-components
