Repository microsoft/fast, pull requests merged in 2020-12, with the labels that each got.

#4158 fix: formassociated and async tests on firefox
  packages/web-components/fast-foundation/docs/api-report.md
  packages/web-components/fast-foundation/package.json
  packages/web-components/fast-foundation/src/button/button.spec.ts
  packages/web-components/fast-foundation/src/checkbox/checkbox.spec.ts
  packages/web-components/fast-foundation/src/checkbox/checkbox.ts
  packages/web-components/fast-foundation/src/custom-properties/manager.spec.ts
  packages/web-components/fast-foundation/src/design-system-provider/design-system-provider.spec.ts
  packages/web-components/fast-foundation/src/dialog/dialog.spec.ts
  packages/web-components/fast-foundation/src/fixture.spec.ts
  packages/web-components/fast-foundation/src/form-associated/form-associated.spec.ts
  packages/web-components/fast-foundation/src/form-associated/form-associated.ts
  packages/web-components/fast-foundation/src/listbox/listbox.ts
  packages/web-components/fast-foundation/src/radio-group/radio-group.spec.ts
  packages/web-components/fast-foundation/src/radio/radio.spec.ts
  packages/web-components/fast-foundation/src/radio/radio.ts
  packages/web-components/fast-foundation/src/select/select.spec.ts
  packages/web-components/fast-foundation/src/select/select.ts
  packages/web-components/fast-foundation/src/slider/slider.spec.ts
  packages/web-components/fast-foundation/src/switch/switch.spec.ts
  packages/web-components/fast-foundation/src/switch/switch.ts
  packages/web-components/fast-foundation/src/tabs/tabs.spec.ts
  packages/web-components/fast-foundation/src/tabs/tabs.ts
  packages/web-components/fast-foundation/src/text-area/text-area.spec.ts
  packages/web-components/fast-foundation/src/text-field/text-field.spec.ts
Labels: area:fast-foundation

#4156 chore: correct fast-tabs readme title
  packages/web-components/fast-components/src/tabs/README.md
Labels: area:fast-components

#4159 feat: add default slot changed to anchor
  packages/web-components/fast-components/docs/api-report.md
  packages/web-components/fast-components/src/anchor/index.ts
  packages/web-components/fast-components/src/button/index.ts
  packages/web-components/fast-components/src/styles/patterns/button.ts
  packages/web-components/fast-foundation/docs/api-report.md
  packages/web-components/fast-foundation/src/anchor/anchor.template.ts
  packages/web-components/fast-foundation/src/anchor/anchor.ts
  packages/web-components/fast-foundation/src/button/button.template.ts
  packages/web-components/fast-foundation/src/button/button.ts
Labels: area:fast-components, area:fast-foundation, improvement

#4029 feat: add a data grid web component
  packages/web-components/fast-components-msft/temp/api-report.md
  packages/web-components/fast-components/docs/api-report.md
  packages/web-components/fast-components/src/component-definitions.ts
  packages/web-components/fast-components/src/data-grid/README.md
  packages/web-components/fast-components/src/data-grid/data-grid-cell.definition.ts
  packages/web-components/fast-components/src/data-grid/data-grid-cell.open-ui.definition.json
  packages/web-components/fast-components/src/data-grid/data-grid-cell.styles.ts
  packages/web-components/fast-components/src/data-grid/data-grid-row.definition.ts
  packages/web-components/fast-components/src/data-grid/data-grid-row.open-ui.definition.json
  packages/web-components/fast-components/src/data-grid/data-grid-row.styles.ts
  packages/web-components/fast-components/src/data-grid/data-grid.definition.ts
  packages/web-components/fast-components/src/data-grid/data-grid.open-ui.definition.json
  packages/web-components/fast-components/src/data-grid/data-grid.stories.ts
  packages/web-components/fast-components/src/data-grid/data-grid.styles.ts
  packages/web-components/fast-components/src/data-grid/fixtures/base.html
  packages/web-components/fast-components/src/data-grid/index.ts
  packages/web-components/fast-components/src/data-grid/scenarios/index.html
  packages/web-components/fast-components/src/index.ts
  packages/web-components/fast-foundation/docs/api-report.md
  packages/web-components/fast-foundation/src/data-grid/README.md
  packages/web-components/fast-foundation/src/data-grid/data-grid-cell.spec.ts
  packages/web-components/fast-foundation/src/data-grid/data-grid-cell.template.ts
  packages/web-components/fast-foundation/src/data-grid/data-grid-cell.ts
  packages/web-components/fast-foundation/src/data-grid/data-grid-row.spec.ts
  packages/web-components/fast-foundation/src/data-grid/data-grid-row.template.ts
  packages/web-components/fast-foundation/src/data-grid/data-grid-row.ts
  packages/web-components/fast-foundation/src/data-grid/data-grid.spec.md
  packages/web-components/fast-foundation/src/data-grid/data-grid.spec.ts
  packages/web-components/fast-foundation/src/data-grid/data-grid.template.ts
  packages/web-components/fast-foundation/src/data-grid/data-grid.ts
  packages/web-components/fast-foundation/src/data-grid/images/ex1.png
  packages/web-components/fast-foundation/src/data-grid/images/ex2.png
  packages/web-components/fast-foundation/src/data-grid/images/grid.png
  packages/web-components/fast-foundation/src/data-grid/index.ts
  packages/web-components/fast-foundation/src/index.ts
  sites/fast-component-explorer/app/config.ts
  sites/fast-component-explorer/app/fast-components/configs/fast-data-grid.ts
  sites/fast-component-explorer/app/fast-components/configs/index.ts
  specs/README.md
Labels: area:fast-components, area:fast-foundation, feature
