Repository microsoft/fast, pull requests merged in 2021-01, with the labels that each got.

#4216 fix: addressed missing images in the high contrast document
  sites/site-utilities/statics/assets/high-contrast/accent-no-forced-colors.png
  sites/site-utilities/statics/assets/high-contrast/accent-with-forced-colors.png
  sites/site-utilities/statics/assets/high-contrast/accent.png
  sites/website/src/docs/design-systems/high-contrast.md
Labels: area:site, bug

#4226 fix: add class content to fix missing underline on button component
  packages/web-components/fast-foundation/src/button/button.template.ts
Labels: area:fast-foundation, bug

#4233 fix: address broken high contrast colors on listbox and select components
  packages/web-components/fast-components/src/listbox-option/listbox-option.styles.ts
  packages/web-components/fast-components/src/listbox/listbox.styles.ts
  packages/web-components/fast-components/src/select/select.styles.ts
Labels: area:fast-components, bug

#4234 fix: add forced-colors to skeleton component for high contrast
  packages/web-components/fast-components/src/skeleton/fixtures/base.html
  packages/web-components/fast-components/src/skeleton/skeleton.styles.ts
Labels: area:fast-components, bug

#4261 chore: update dependencies
  package.json
  yarn.lock
Labels: chore

#4256 fix: tooltips are incorrectly positioned when parent is a flex container
  packages/web-components/fast-components/src/tooltip/fixtures/base.html
  packages/web-components/fast-components/src/tooltip/tooltip.stories.ts
  packages/web-components/fast-foundation/src/anchored-region/anchored-region.ts
Labels: area:fast-components, bug
