Repository microsoft/fast, pull requests merged in 2021-12, with the labels that each got.

#5434 add workflow to release docs into production
  .github/workflows/cd-www-production.yml
  .github/workflows/cd-www-stage.yml
Labels: improvement, area:dev-ops

#5445 update workflows for better consistency and to support production deployments
  .github/workflows/cd-deploy-cdn.yml
  .github/workflows/cd-deploy-color-staging.yml
  .github/workflows/cd-deploy-explore-staging.yml
  .github/workflows/cd-deploy-www-production.yml
  .github/workflows/cd-deploy-www-staging.yml
  .github/workflows/cd-release-npm.yml
  .github/workflows/ci-validate-platforms.yml
  .github/workflows/ci-validate-pr.yml
Labels: chore, area:dev-ops, area:cloud

#5447 update notification path for npm releases
  .github/workflows/cd-release-npm.yml
Labels: area:dev-ops

#5440 chore: visual refresh on number-field, text-area and text-field components
  packages/web-components/fast-components/docs/api-report.md
  packages/web-components/fast-components/src/design-tokens.ts
  packages/web-components/fast-components/src/number-field/index.ts
  packages/web-components/fast-components/src/number-field/number-field.styles.ts
  packages/web-components/fast-components/src/styles/patterns/index.ts
  packages/web-components/fast-components/src/styles/patterns/input.ts
  packages/web-components/fast-components/src/text-area/text-area.styles.ts
  packages/web-components/fast-components/src/text-field/fixtures/text-field.html
  packages/web-components/fast-components/src/text-field/text-field.styles.ts
Labels: area:fast-components

#5428 chore: visual refresh on select component
  packages/web-components/fast-components/docs/api-report.md
  packages/web-components/fast-components/src/design-tokens.ts
  packages/web-components/fast-components/src/select/index.ts
  packages/web-components/fast-components/src/select/select.styles.ts
  packages/web-components/fast-components/src/styles/elevation.ts
Labels: area:fast-components

#5441 chore: visual refresh for toolbar component
  packages/web-components/fast-components/src/toolbar/toolbar.styles.ts
Labels: area:fast-components

#5426 chore: visual refresh on skeleton component
  packages/web-components/fast-components/src/skeleton/fixtures/base.html
  packages/web-components/fast-components/src/skeleton/skeleton.styles.ts
Labels: area:fast-components

#5446 chore: visual refresh on tabs component
  packages/web-components/fast-components/src/tab/tab.styles.ts
  packages/web-components/fast-components/src/tabs/fixtures/base.html
  packages/web-components/fast-components/src/tabs/tabs.styles.ts
Labels: area:fast-components

#5427 chore: visual refresh for tree view and tree item components
  packages/web-components/fast-components/src/tree-item/fixtures/tree-item.html
  packages/web-components/fast-components/src/tree-item/index.ts
  packages/web-components/fast-components/src/tree-item/tree-item.styles.ts
  packages/web-components/fast-components/src/tree-view/fixtures/tree-view.html
Labels: area:fast-components

#5455 update docs to include package containing DI
  sites/website/src/docs/apps-and-experiences/dependency-injection.md
Labels: docs:article

#5468 chore: visual refresh for calendar component
  packages/web-components/fast-components/docs/api-report.md
  packages/web-components/fast-components/src/calendar/calendar.styles.ts
  packages/web-components/fast-components/src/calendar/fixtures/calendar.html
  packages/web-components/fast-components/src/calendar/index.ts
  packages/web-components/fast-components/src/custom-elements.ts
Labels: area:fast-components

#5457 chore: visual refresh for picker component
  packages/web-components/fast-components/docs/api-report.md
  packages/web-components/fast-components/src/custom-elements.ts
  packages/web-components/fast-components/src/picker/index.ts
  packages/web-components/fast-components/src/picker/picker-list-item.styles.ts
  packages/web-components/fast-components/src/picker/picker-list.styles.ts
  packages/web-components/fast-components/src/picker/picker-menu-option.styles.ts
  packages/web-components/fast-components/src/picker/picker-menu.styles.ts
Labels: area:fast-components
