Repository microsoft/fast, pull requests merged in 2021-08, with the labels that each got.

#5024 fix menu default slot assignment
  change/@microsoft-fast-foundation-52b036d2-3824-4acd-84c5-2ec2c7486449.json
  packages/web-components/fast-foundation/src/menu/menu.template.ts
Labels: area:fast-components, area:fast-foundation

#5033 fix: add border to badge and adjust padding size
  change/@microsoft-fast-components-56af9e05-3ae4-4b15-a4aa-659183f0f7c1.json
  packages/web-components/fast-components/src/badge/badge.styles.ts
Labels: area:fast-foundation, bug

#5076 update to content security policy for images and fonts
  sites/site-utilities/statics/server/server.js
Labels: area:cloud
