Repository microsoft/fast, pull requests merged in 2021-07, with the labels that each got.

#4928 chore: bump prismjs to 1.24.0
  yarn.lock
Labels: area:dev-ops

#4960 Update css design token typing
  change/@microsoft-fast-foundation-022c822b-fb09-4c2f-8dbd-25a801e4539f.json
  packages/web-components/fast-foundation/docs/api-report.md
  packages/web-components/fast-foundation/src/design-token/design-token.ts
Labels: area:fast-foundation

#4963 update component styles to leverage context.tagFor() for nested element styles
  change/@microsoft-fast-components-f16b4252-499e-4b4f-af94-10511d68dc0a.json
  packages/web-components/fast-components/src/avatar/avatar.styles.ts
  packages/web-components/fast-components/src/tooltip/tooltip.styles.ts
  packages/web-components/fast-components/src/tree-item/tree-item.styles.ts
Labels: area:fast-components
