Repository microsoft/fast, pull requests merged in 2021-02, with the labels that each got.

#3996 docs: add more detail to the CONTRIBUTING.md file in fast-components
  packages/web-components/fast-components/CONTRIBUTING.md
Labels: area:fast-components, docs:example

#4363 chore: update component slot definitions with accurate title and descriptions
  packages/web-components/fast-components/src/accordion-item/accordion-item.definition.ts
  packages/web-components/fast-components/src/accordion/accordion.definition.ts
  packages/web-components/fast-components/src/anchor/anchor.definition.ts
  packages/web-components/fast-components/src/anchored-region/anchored-region.definition.ts
  packages/web-components/fast-components/src/badge/badge.definition.ts
  packages/web-components/fast-components/src/breadcrumb-item/breadcrumb-item.definition.ts
  packages/web-components/fast-components/src/breadcrumb/breadcrumb.definition.ts
  packages/web-components/fast-components/src/button/button.definition.ts
  packages/web-components/fast-components/src/card/card.definition.ts
  packages/web-components/fast-components/src/checkbox/checkbox.definition.ts
  packages/web-components/fast-components/src/data-grid/data-grid-cell.definition.ts
  packages/web-components/fast-components/src/data-grid/data-grid-row.definition.ts
  packages/web-components/fast-components/src/data-grid/data-grid.definition.ts
  packages/web-components/fast-components/src/design-system-provider/design-system-provider.definition.ts
  packages/web-components/fast-components/src/dialog/dialog.definition.ts
  packages/web-components/fast-components/src/disclosure/disclosure.definition.ts
  packages/web-components/fast-components/src/divider/divider.definition.ts
  packages/web-components/fast-components/src/flipper/flipper.definition.ts
  packages/web-components/fast-components/src/listbox-option/listbox-option.definition.ts
  packages/web-components/fast-components/src/listbox/listbox.definition.ts
  packages/web-components/fast-components/src/menu-item/menu-item.definition.ts
  packages/web-components/fast-components/src/menu/menu.definition.ts
  packages/web-components/fast-components/src/number-field/number-field.definition.ts
  packages/web-components/fast-components/src/progress-ring/progress-ring.definition.ts
  packages/web-components/fast-components/src/progress/progress.definition.ts
  packages/web-components/fast-components/src/radio-group/radio-group.definition.ts
  packages/web-components/fast-components/src/radio/radio.definition.ts
  packages/web-components/fast-components/src/select/select.definition.ts
  packages/web-components/fast-components/src/skeleton/skeleton.definition.ts
  packages/web-components/fast-components/src/slider-label/slider-label.definition.ts
  packages/web-components/fast-components/src/slider/slider.definition.ts
  packages/web-components/fast-components/src/switch/switch.definition.ts
  packages/web-components/fast-components/src/tab-panel/tab-panel.definition.ts
  packages/web-components/fast-components/src/tab/tab.definition.ts
  packages/web-components/fast-components/src/tabs/tabs.definition.ts
  packages/web-components/fast-components/src/text-area/text-area.definition.ts
  packages/web-components/fast-components/src/text-field/text-field.definition.ts
  packages/web-components/fast-components/src/tooltip/tooltip.definition.ts
  packages/web-components/fast-components/src/tree-item/tree-item.definition.ts
  packages/web-components/fast-components/src/tree-view/tree-view.definition.ts
Labels: area:fast-components, area:site

#4382 feat: add prefers-color-scheme behaviors for light and dark mode
  packages/web-components/fast-foundation/docs/api-report.md
  packages/web-components/fast-foundation/src/utilities/match-media-stylesheet-behavior.ts
Labels: area:fast-foundation, feature

#4364 chore: add title and update description for component definition attributes
  packages/web-components/fast-components/src/accordion-item/accordion-item.definition.ts
  packages/web-components/fast-components/src/accordion/accordion.definition.ts
  packages/web-components/fast-components/src/anchor/anchor.definition.ts
  packages/web-components/fast-components/src/anchored-region/anchored-region.definition.ts
  packages/web-components/fast-components/src/badge/badge.definition.ts
  packages/web-components/fast-components/src/breadcrumb-item/breadcrumb-item.definition.ts
  packages/web-components/fast-components/src/breadcrumb/breadcrumb.definition.ts
  packages/web-components/fast-components/src/button/button.definition.ts
  packages/web-components/fast-components/src/card/card.definition.ts
  packages/web-components/fast-components/src/checkbox/checkbox.definition.ts
  packages/web-components/fast-components/src/data-grid/data-grid-cell.definition.ts
  packages/web-components/fast-components/src/data-grid/data-grid-row.definition.ts
  packages/web-components/fast-components/src/data-grid/data-grid.definition.ts
  packages/web-components/fast-components/src/design-system-provider/design-system-provider.definition.ts
  packages/web-components/fast-components/src/dialog/dialog.definition.ts
  packages/web-components/fast-components/src/disclosure/disclosure.definition.ts
  packages/web-components/fast-components/src/divider/divider.definition.ts
  packages/web-components/fast-components/src/flipper/flipper.definition.ts
  packages/web-components/fast-components/src/listbox-option/listbox-option.definition.ts
  packages/web-components/fast-components/src/listbox/listbox.definition.ts
  packages/web-components/fast-components/src/menu-item/menu-item.definition.ts
  packages/web-components/fast-components/src/number-field/number-field.definition.ts
  packages/web-components/fast-components/src/progress-ring/progress-ring.definition.ts
  packages/web-components/fast-components/src/progress/progress.definition.ts
  packages/web-components/fast-components/src/radio-group/radio-group.definition.ts
  packages/web-components/fast-components/src/radio/radio.definition.ts
  packages/web-components/fast-components/src/select/select.definition.ts
  packages/web-components/fast-components/src/skeleton/skeleton.definition.ts
  packages/web-components/fast-components/src/slider-label/slider-label.definition.ts
  packages/web-components/fast-components/src/slider/slider.definition.ts
  packages/web-components/fast-components/src/switch/switch.definition.ts
  packages/web-components/fast-components/src/tabs/tabs.definition.ts
  packages/web-components/fast-components/src/text-area/text-area.definition.ts
  packages/web-components/fast-components/src/text-field/text-field.definition.ts
  packages/web-components/fast-components/src/tooltip/tooltip.definition.ts
  packages/web-components/fast-components/src/tree-item/tree-item.definition.ts
  packages/web-components/fast-components/src/tree-view/tree-view.definition.ts
  packages/web-components/fast-foundation/src/anchored-region/anchored-region.ts
  packages/web-components/fast-foundation/src/skeleton/skeleton.ts
  packages/web-components/fast-foundation/src/text-area/text-area.ts
  packages/web-components/fast-foundation/src/text-field/text-field.ts
Labels: area:fast-components, area:tooling
