Repository microsoft/fast, pull requests merged in 2021-09, with the labels that each got.

#5084 Users/v imaga/security update bump path parse to 1.0.7 or later
  yarn.lock
Labels: area:dev-ops

#5097 fix: security update bump jszip from 3.5.0 to 3.7.1
  yarn.lock
Labels: area:dev-ops

#5140 support default slotted content start end
  change/@microsoft-fast-components-6ac044cd-7329-49d7-a97e-ed9bb5a62b2a.json
  change/@microsoft-fast-foundation-36508b94-303a-41ad-9c37-dfe77c29c392.json
  packages/web-components/fast-components/docs/api-report.md
  packages/web-components/fast-components/src/anchor/anchor.styles.ts
  packages/web-components/fast-components/src/button/button.styles.ts
  packages/web-components/fast-components/src/listbox-option/listbox-option.styles.ts
  packages/web-components/fast-components/src/tabs/tabs.styles.ts
  packages/web-components/fast-components/src/text-field/text-field.styles.ts
  packages/web-components/fast-components/src/toolbar/toolbar.styles.ts
  packages/web-components/fast-foundation/docs/api-report.md
  packages/web-components/fast-foundation/src/accordion-item/accordion-item.template.ts
  packages/web-components/fast-foundation/src/accordion-item/accordion-item.ts
  packages/web-components/fast-foundation/src/anchor/anchor.template.ts
  packages/web-components/fast-foundation/src/anchor/anchor.ts
  packages/web-components/fast-foundation/src/breadcrumb-item/breadcrumb-item.template.ts
  packages/web-components/fast-foundation/src/breadcrumb-item/breadcrumb-item.ts
  packages/web-components/fast-foundation/src/button/button.template.ts
  packages/web-components/fast-foundation/src/button/button.ts
  packages/web-components/fast-foundation/src/combobox/combobox.template.ts
  packages/web-components/fast-foundation/src/combobox/combobox.ts
  packages/web-components/fast-foundation/src/horizontal-scroll/horizontal-scroll.template.ts
  packages/web-components/fast-foundation/src/horizontal-scroll/horizontal-scroll.ts
  packages/web-components/fast-foundation/src/listbox-option/listbox-option.template.ts
  packages/web-components/fast-foundation/src/listbox-option/listbox-option.ts
  packages/web-components/fast-foundation/src/menu-item/menu-item.template.ts
  packages/web-components/fast-foundation/src/menu-item/menu-item.ts
  packages/web-components/fast-foundation/src/number-field/number-field.template.ts
  packages/web-components/fast-foundation/src/number-field/number-field.ts
  packages/web-components/fast-foundation/src/patterns/start-end.ts
  packages/web-components/fast-foundation/src/select/select.template.ts
  packages/web-components/fast-foundation/src/select/select.ts
  packages/web-components/fast-foundation/src/tabs/tabs.template.ts
  packages/web-components/fast-foundation/src/tabs/tabs.ts
  packages/web-components/fast-foundation/src/text-field/text-field.template.ts
  packages/web-components/fast-foundation/src/text-field/text-field.ts
  packages/web-components/fast-foundation/src/toolbar/toolbar.template.ts
  packages/web-components/fast-foundation/src/toolbar/toolbar.ts
  packages/web-components/fast-foundation/src/tree-item/tree-item.template.ts
  packages/web-components/fast-foundation/src/tree-item/tree-item.ts
  yarn.lock
Labels: feature, area:fast-foundation, area:fast-components

#5214 fix aria-describedby typos
  change/@microsoft-fast-foundation-acdd6aa0-9f9c-41bf-8643-495db31d5a6c.json
  packages/web-components/fast-foundation/src/anchor/anchor.spec.ts
  packages/web-components/fast-foundation/src/anchor/anchor.template.ts
  packages/web-components/fast-foundation/src/breadcrumb-item/breadcrumb-item.spec.ts
  packages/web-components/fast-foundation/src/button/button.spec.ts
  packages/web-components/fast-foundation/src/button/button.template.ts
  packages/web-components/fast-foundation/src/dialog/dialog.spec.ts
  packages/web-components/fast-foundation/src/number-field/number-field.spec.ts
  packages/web-components/fast-foundation/src/number-field/number-field.template.ts
  packages/web-components/fast-foundation/src/text-area/text-area.spec.ts
  packages/web-components/fast-foundation/src/text-area/text-area.template.ts
  packages/web-components/fast-foundation/src/text-field/text-field.spec.ts
  packages/web-components/fast-foundation/src/text-field/text-field.template.ts
  yarn.lock
Labels: improvement, area:fast-components

#5185 remove duplicate display hidden tree view
  change/@microsoft-fast-components-6681953d-c678-4b1c-821c-c71eff8483f9.json
  packages/web-components/fast-components/src/tree-view/tree-view.styles.ts
Labels: area:fast-components

#5223 fix: when orientation changes, the styles are updated properly on tab chil…
  change/@microsoft-fast-foundation-2272e849-e24e-4830-a4ef-71149530ca0d.json
  packages/web-components/fast-foundation/docs/api-report.md
  packages/web-components/fast-foundation/src/tabs/tabs.ts
Labels: area:fast-foundation

#5128 Update to remove caching
  sites/site-utilities/statics/server/server.js
Labels: area:cloud
