Repository microsoft/fast, pull requests merged in 2022-02, with the labels that each got.

#5459 chore: visual refresh on menu and menu-item component
  packages/web-components/fast-components/docs/api-report.md
  packages/web-components/fast-components/src/custom-elements.ts
  packages/web-components/fast-components/src/menu-item/index.ts
  packages/web-components/fast-components/src/menu-item/menu-item.styles.ts
  packages/web-components/fast-components/src/menu/index.ts
  packages/web-components/fast-components/src/menu/menu.styles.ts
Labels: area:fast-components

#5556 update badges on home page to fix incorrect GH action references
  README.md
Labels: area:dev-ops

#5602 Figma plugin: Add support for text recipes
  packages/tooling/fast-figma-plugin-msft/src/core/ui/components/generic-recipe/index.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/components/index.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/declarations.d.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/design-token-registry.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/index.tsx
  packages/tooling/fast-figma-plugin-msft/src/core/ui/recipes.ts
  packages/tooling/fast-figma-plugin-msft/src/figma/node.ts
Labels: area:utilities

#5607 Figma plugin: add design token overrides
  packages/tooling/fast-figma-plugin-msft/.eslintrc.js
  packages/tooling/fast-figma-plugin-msft/package.json
  packages/tooling/fast-figma-plugin-msft/src/core/controller.ts
  packages/tooling/fast-figma-plugin-msft/src/core/model.ts
  packages/tooling/fast-figma-plugin-msft/src/core/node.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/assets/checkmark.svg
  packages/tooling/fast-figma-plugin-msft/src/core/ui/assets/subtract.svg
  packages/tooling/fast-figma-plugin-msft/src/core/ui/components/design-token-add/index.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/components/design-token-field/index.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/components/design-tokens-form/index.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/components/index.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/declarations.d.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/design-token-registry.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/index.tsx
  packages/tooling/fast-figma-plugin-msft/src/core/ui/recipes.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/ui-controller.ts
  packages/tooling/fast-figma-plugin-msft/src/figma/controller.ts
  packages/tooling/fast-figma-plugin-msft/src/figma/node.ts
  packages/tooling/fast-figma-plugin-msft/src/global.css
  packages/tooling/fast-figma-plugin-msft/src/ui.tsx
  packages/tooling/fast-figma-plugin-msft/tsconfig.json
Labels: area:utilities

#5402 chore: visual refresh on radio component
  packages/web-components/fast-components/src/radio-group/radio-group.styles.ts
  packages/web-components/fast-components/src/radio/fixtures/base.html
  packages/web-components/fast-components/src/radio/index.ts
  packages/web-components/fast-components/src/radio/radio.styles.ts
Labels: area:fast-components

#5476 chore: visual refresh on search component
  packages/web-components/fast-components/docs/api-report.md
  packages/web-components/fast-components/src/search/fixtures/search.html
  packages/web-components/fast-components/src/search/search.styles.ts
Labels: area:fast-components
