Repository microsoft/fast, pull requests merged in 2022-05, with the labels that each got.

#5916 update to remove console warnings when building docs
  change/@microsoft-fast-components-eb05b86f-646d-4618-83cc-374d61be9eac.json
  change/@microsoft-fast-foundation-bf131b15-d5eb-4e15-beda-804bd1ca38b5.json
  packages/web-components/fast-components/src/calendar/index.ts
  packages/web-components/fast-foundation/src/calendar/calendar.spec.ts
Labels: docs:api, area:environment

#5834 fix: reset selection range when selecting option with cursor
  change/@microsoft-fast-foundation-7bb63e34-a45b-49f0-a9c0-7b9d0f2f5e95.json
  packages/web-components/fast-foundation/src/combobox/combobox.ts
Labels: fast-components:final

#5855 Cleanup some visual state bugs
  change/@microsoft-fast-components-3d83e709-1871-4c48-b15a-eb80ad445a9c.json
  packages/web-components/fast-components/docs/api-report.md
  packages/web-components/fast-components/src/accordion-item/accordion-item.styles.ts
  packages/web-components/fast-components/src/badge/badge.styles.ts
  packages/web-components/fast-components/src/checkbox/checkbox.styles.ts
  packages/web-components/fast-components/src/data-grid/data-grid-cell.styles.ts
  packages/web-components/fast-components/src/dialog/fixtures/dialog.html
  packages/web-components/fast-components/src/disclosure/fixtures/disclosure.html
  packages/web-components/fast-components/src/horizontal-scroll/fixtures/horizontal-scroll.html
  packages/web-components/fast-components/src/listbox-option/listbox-option.styles.ts
  packages/web-components/fast-components/src/listbox/listbox.styles.ts
  packages/web-components/fast-components/src/menu-item/menu-item.styles.ts
  packages/web-components/fast-components/src/menu/index.ts
  packages/web-components/fast-components/src/menu/menu.styles.ts
  packages/web-components/fast-components/src/picker/index.ts
  packages/web-components/fast-components/src/picker/picker-list-item.styles.ts
  packages/web-components/fast-components/src/picker/picker-menu-option.styles.ts
  packages/web-components/fast-components/src/picker/picker-menu.styles.ts
  packages/web-components/fast-components/src/picker/picker.styles.ts
  packages/web-components/fast-components/src/radio/radio.styles.ts
  packages/web-components/fast-components/src/select/index.ts
  packages/web-components/fast-components/src/select/select.styles.ts
  packages/web-components/fast-components/src/switch/switch.styles.ts
  packages/web-components/fast-components/src/tree-item/tree-item.styles.ts
Labels: area:fast-components, fast-components:final

#5973 Remove unused infrastructure and testing methodologies
  build/operations/README.md
  build/operations/azure.ini
  build/operations/config.sh
  build/operations/diagrams/app-service-reference-architectures.vsdx
  build/operations/diagrams/consistent-management-layer.png
  build/operations/diagrams/multi-region-web-app-diagram.png
  build/operations/docs/testing.md
  build/operations/functions.sh
  build/operations/inputs.sh
  build/operations/recipes/create.sh
  build/operations/recipes/debug.sh
  build/operations/recipes/delete.sh
  build/operations/recipes/deploy.sh
  build/operations/recipes/login.sh
  build/operations/recipes/logout.sh
  build/operations/services/create-app.sh
  build/operations/services/create-appi.sh
  build/operations/services/create-asp.sh
  build/operations/services/create-cdn.sh
  build/operations/services/create-dns.sh
  build/operations/services/create-fd.sh
  build/operations/services/create-kv.sh
  build/operations/services/create-log.sh
  build/operations/services/create-rg.sh
  build/operations/services/create-st.sh
  build/operations/services/delete-rg.sh
  build/testing/applitools/run-msft-docs.js
  build/testing/applitools/test-javascript.js
  build/testing/config-browsers.alpha.js
  build/testing/config-browsers.beta.js
  build/testing/config-browsers.js
  build/testing/config-browsers.release.js
  build/testing/sauce-labs/test-browsers.js
Labels: area:dev-ops, area:cloud, area:environment
