Repository microsoft/fast, pull requests merged in 2022-07, with the labels that each got.

#6176 updates security dependency on ejs
  change/@microsoft-fast-animation-32d3c5b6-562a-4962-8297-e95d92c3f294.json
  packages/utilities/fast-animation/package.json
  sites/fast-color-explorer/package.json
  yarn.lock
Labels: area:dev-ops, compliance:security, dependencies

#6175 updates beachball to latest version to resolve security dependency vu…
  package.json
  yarn.lock
Labels: area:dev-ops, compliance:security, dependencies

#6230 Adaptive UI: fix a color bug in Swatch
  change/@microsoft-adaptive-ui-c42f4c4e-b1c3-464a-93fe-fa308986cdd4.json
  packages/utilities/adaptive-ui/src/color/swatch.ts
Labels: area:adaptive-ui

#6193 updates beachball version with correct registry
  package.json
  yarn.lock
Labels: area:dev-ops, compliance:security, dependencies

#6202 Users/bheston/remove avatar styling model
  change/@microsoft-fast-foundation-414e6985-df17-48a9-a519-accb0f492635.json
  packages/web-components/fast-foundation/docs/api-report.md
  packages/web-components/fast-foundation/src/avatar/README.md
  packages/web-components/fast-foundation/src/avatar/avatar.spec.md
  packages/web-components/fast-foundation/src/avatar/avatar.template.ts
  packages/web-components/fast-foundation/src/avatar/avatar.ts
  packages/web-components/fast-foundation/src/avatar/stories/avatar.register.ts
  packages/web-components/fast-foundation/src/avatar/stories/avatar.stories.ts
Labels: area:fast-foundation

#6235 Adaptive UI: fixed missing export and incorrect min-contrast token values
  change/@microsoft-adaptive-ui-86f29544-ac82-46b2-9c74-1253dd8a514d.json
  packages/utilities/adaptive-ui/docs/api-report.md
  packages/utilities/adaptive-ui/src/color/recipes/index.ts
  packages/utilities/adaptive-ui/src/design-tokens/color.ts
  packages/utilities/adaptive-ui/src/type/type-ramp.ts
Labels: area:adaptive-ui
