Repository microsoft/fast, pull requests merged in 2022-04, with the labels that each got.

#5851 update to replace offending code causing 503 outages
  sites/site-utilities/statics/server/server.js
Labels: area:dev-ops

#5868 Update to fix broken links and grammar
  .github/pull_request_template.md
  .vscode/settings.json
  CONTRIBUTING.md
  change/@microsoft-fast-element-b2b560d6-6866-41a7-9abd-b4aa8bd56052.json
  change/@microsoft-fast-foundation-3d94788e-5d6d-4096-b102-e54c4d5cd2c3.json
  packages/web-components/fast-element/docs/guide/declaring-templates.md
  packages/web-components/fast-element/docs/guide/next-steps.md
  packages/web-components/fast-foundation/docs/integrations/blazor.md
  sites/website/src/copy-static.js
  sites/website/src/docs/community/issue-management.md
  sites/website/src/docs/community/release-planning.md
  sites/website/src/docs/design-systems/overview.md
  sites/website/src/docs/introduction.md
  sites/website/src/docs/resources/cheat-sheet.md
  sites/website/src/generate-docs.js
Labels: docs:investigation, area:dev-ops

#5884 update workflow configuration for testing websites in pull requests
  .github/workflows/cd-deploy-color-staging.yml
  .github/workflows/cd-deploy-explore-staging.yml
  .github/workflows/cd-deploy-www-staging.yml
  sites/website/docusaurus.config.js
Labels: area:dev-ops

#5878 update displayed selected value in select component when an option changes
  change/@microsoft-fast-foundation-c62fa706-3fa8-43a5-8c86-fd8d39bacb55.json
  packages/web-components/fast-foundation/docs/api-report.md
  packages/web-components/fast-foundation/src/listbox-option/README.md
  packages/web-components/fast-foundation/src/listbox-option/listbox-option.template.ts
  packages/web-components/fast-foundation/src/listbox-option/listbox-option.ts
  packages/web-components/fast-foundation/src/select/README.md
  packages/web-components/fast-foundation/src/select/select.spec.ts
  packages/web-components/fast-foundation/src/select/select.ts
Labels: fast-components:final

#5914 trim extra spaces from text in listbox-option
  change/@microsoft-fast-foundation-d054ea11-441a-4531-8134-f43dc6d07b8b.json
  packages/web-components/fast-foundation/src/listbox-option/listbox-option.spec.ts
  packages/web-components/fast-foundation/src/listbox-option/listbox-option.ts
Labels: fast-components:final

#5899 fix keyboarding behavior for right and left arrow keys in Tree View
  change/@microsoft-fast-foundation-ee6e3feb-c675-4e87-988c-c2fcdc71f6f6.json
  packages/web-components/fast-foundation/src/tree-view/tree-view.ts
Labels: fast-components:final

#5907 fix: tabs and panel get out of sync when no id is present
  change/@microsoft-fast-components-fdfdfb2e-037b-40ce-95c0-8073b5fe4e86.json
  change/@microsoft-fast-foundation-3ad67a28-b5e7-48b9-9d64-eff861c33202.json
  packages/web-components/fast-components/src/tabs/fixtures/base.html
  packages/web-components/fast-components/src/tabs/tabs.stories.ts
  packages/web-components/fast-foundation/src/tabs/tabs.spec.ts
  packages/web-components/fast-foundation/src/tabs/tabs.ts
Labels: fast-components:final

#5900 feat: add select method to text field
  change/@microsoft-fast-foundation-eed9a761-db6b-4044-8e53-05aa5fd3c3e0.json
  packages/web-components/fast-foundation/docs/api-report.md
  packages/web-components/fast-foundation/src/number-field/README.md
  packages/web-components/fast-foundation/src/number-field/number-field.ts
  packages/web-components/fast-foundation/src/text-area/README.md
  packages/web-components/fast-foundation/src/text-area/text-area.ts
  packages/web-components/fast-foundation/src/text-field/README.md
  packages/web-components/fast-foundation/src/text-field/text-field.ts
Labels: fast-components:final
