Repository microsoft/fast, pull requests merged in 2022-10, with the labels that each got.

#6453 Figma plugin - Update package to module type and fix imports
  packages/tooling/fast-figma-plugin-msft/package.json
  packages/tooling/fast-figma-plugin-msft/src/core/controller.ts
  packages/tooling/fast-figma-plugin-msft/src/core/model.ts
  packages/tooling/fast-figma-plugin-msft/src/core/node.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/components/design-token-add/index.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/components/design-token-field/index.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/components/design-tokens-form/index.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/components/drawer/index.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/components/index.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/design-token-registry.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/index.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/recipes.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/ui-controller.ts
  packages/tooling/fast-figma-plugin-msft/src/desktop.ini
  packages/tooling/fast-figma-plugin-msft/src/figma/controller.ts
  packages/tooling/fast-figma-plugin-msft/src/figma/node.ts
  packages/tooling/fast-figma-plugin-msft/src/main.ts
  packages/tooling/fast-figma-plugin-msft/src/ui.ts
  packages/tooling/fast-figma-plugin-msft/tsconfig.json
  packages/tooling/fast-figma-plugin-msft/webpack.config.cjs
Labels: area:utilities

#6424 Adaptive UI Explorer - initial port
  change/@microsoft-adaptive-ui-explorer-ba5b0bf9-7335-4d14-a6ce-140f265d1674.json
  package.json
  packages/tooling/adaptive-ui-explorer/.eslintignore
  packages/tooling/adaptive-ui-explorer/.eslintrc.json
  packages/tooling/adaptive-ui-explorer/.gitignore
  packages/tooling/adaptive-ui-explorer/.npmignore
  packages/tooling/adaptive-ui-explorer/.npmrc
  packages/tooling/adaptive-ui-explorer/.prettierignore
  packages/tooling/adaptive-ui-explorer/README.md
  packages/tooling/adaptive-ui-explorer/package.json
  packages/tooling/adaptive-ui-explorer/src/app.ts
  packages/tooling/adaptive-ui-explorer/src/colors.ts
  packages/tooling/adaptive-ui-explorer/src/component-type.ts
  packages/tooling/adaptive-ui-explorer/src/components/adaptive-component.ts
  packages/tooling/adaptive-ui-explorer/src/components/color-block.ts
  packages/tooling/adaptive-ui-explorer/src/components/control-pane/control-pane.styles.ts
  packages/tooling/adaptive-ui-explorer/src/components/control-pane/control-pane.template.ts
  packages/tooling/adaptive-ui-explorer/src/components/control-pane/control-pane.ts
  packages/tooling/adaptive-ui-explorer/src/components/control-pane/index.ts
  packages/tooling/adaptive-ui-explorer/src/components/index.ts
  packages/tooling/adaptive-ui-explorer/src/components/layer-background/index.ts
  packages/tooling/adaptive-ui-explorer/src/components/palette-gradient/index.ts
  packages/tooling/adaptive-ui-explorer/src/components/palette-gradient/palette-gradient.styles.ts
  packages/tooling/adaptive-ui-explorer/src/components/palette-gradient/palette-gradient.template.ts
  packages/tooling/adaptive-ui-explorer/src/components/palette-gradient/palette-gradient.ts
  packages/tooling/adaptive-ui-explorer/src/components/sample-app/index.ts
  packages/tooling/adaptive-ui-explorer/src/components/sample-app/sample-app.styles.ts
  packages/tooling/adaptive-ui-explorer/src/components/sample-app/sample-app.template.ts
  packages/tooling/adaptive-ui-explorer/src/components/sample-app/sample-app.ts
  packages/tooling/adaptive-ui-explorer/src/components/sample-page/index.ts
  packages/tooling/adaptive-ui-explorer/src/components/sample-page/sample-page.styles.ts
  packages/tooling/adaptive-ui-explorer/src/components/sample-page/sample-page.template.ts
  packages/tooling/adaptive-ui-explorer/src/components/sample-page/sample-page.ts
  packages/tooling/adaptive-ui-explorer/src/components/swatch.ts
  packages/tooling/adaptive-ui-explorer/src/index.ts
  packages/tooling/adaptive-ui-explorer/tsconfig.json
  packages/tooling/adaptive-ui-explorer/webpack.config.cjs
  yarn.lock
Labels: area:adaptive-ui

#6485 feat: enable stringification of DOM nodes controlled by FAST's renderer
  change/@microsoft-fast-element-24c750b0-357e-414e-8e48-588822f6822d.json
  packages/web-components/fast-element/docs/api-report.md
  packages/web-components/fast-element/src/components/element-controller.spec.ts
  packages/web-components/fast-element/src/components/element-controller.ts
  packages/web-components/fast-element/src/observation/observable.ts
  packages/web-components/fast-element/src/templating/binding-signal.ts
  packages/web-components/fast-element/src/templating/binding-two-way.ts
  packages/web-components/fast-element/src/templating/binding.spec.ts
  packages/web-components/fast-element/src/templating/binding.ts
  packages/web-components/fast-element/src/templating/children.spec.ts
  packages/web-components/fast-element/src/templating/children.ts
  packages/web-components/fast-element/src/templating/html-directive.ts
  packages/web-components/fast-element/src/templating/node-observation.ts
  packages/web-components/fast-element/src/templating/ref.spec.ts
  packages/web-components/fast-element/src/templating/slotted.spec.ts
  packages/web-components/fast-element/src/templating/template.ts
  packages/web-components/fast-element/src/templating/view.ts
  packages/web-components/fast-element/src/testing/fakes.ts
Labels: improvement, area:fast-element
