Repository microsoft/fast, pull requests merged in 2022-03, with the labels that each got.

#5699 Figma plugin testing and cleanup
  packages/tooling/fast-figma-plugin-msft/cover.png
  packages/tooling/fast-figma-plugin-msft/manifest.json
  packages/tooling/fast-figma-plugin-msft/src/core/controller.ts
  packages/tooling/fast-figma-plugin-msft/src/core/node.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/components/design-token-add/index.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/components/design-token-field/index.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/custom-recipes.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/declarations.d.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/design-token-registry.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/index.tsx
  packages/tooling/fast-figma-plugin-msft/src/core/ui/recipes.ts
  packages/tooling/fast-figma-plugin-msft/src/core/ui/ui-controller.ts
  packages/tooling/fast-figma-plugin-msft/src/figma/node.ts
  packages/tooling/fast-figma-plugin-msft/src/main.ts
Labels: area:utilities

#5464 BREAKING CHANGE: replace `search` template's WC button with stock HTML button
  change/@microsoft-fast-components-57d9fa2b-c261-4b3f-9328-f734d630c82b.json
  change/@microsoft-fast-foundation-848a0db1-e5de-4362-b813-cdf19212a980.json
  packages/web-components/fast-components/src/search/index.ts
  packages/web-components/fast-components/src/search/search.styles.ts
  packages/web-components/fast-foundation/src/search/search.template.ts
Labels: breaking-change

#5470 Updated to generalized color recipes, mostly from Fluent UI
  packages/web-components/fast-components/docs/api-report.md
  packages/web-components/fast-components/src/calendar/index.ts
  packages/web-components/fast-components/src/card/index.ts
  packages/web-components/fast-components/src/color/recipes/accent-fill.ts
  packages/web-components/fast-components/src/color/recipes/contrast-and-delta-swatch-set.ts
  packages/web-components/fast-components/src/color/recipes/contrast-set-recipe.ts
  packages/web-components/fast-components/src/color/recipes/contrast-swatch-set.ts
  packages/web-components/fast-components/src/color/recipes/contrast-swatch.spec.ts
  packages/web-components/fast-components/src/color/recipes/contrast-swatch.ts
  packages/web-components/fast-components/src/color/recipes/delta-swatch-set.ts
  packages/web-components/fast-components/src/color/recipes/delta-swatch.ts
  packages/web-components/fast-components/src/color/recipes/foreground-on-accent.spec.ts
  packages/web-components/fast-components/src/color/recipes/foreground-on-accent.ts
  packages/web-components/fast-components/src/color/recipes/ideal-color-delta-swatch-set.spec.ts
  packages/web-components/fast-components/src/color/recipes/ideal-color-delta-swatch-set.ts
  packages/web-components/fast-components/src/color/recipes/neutral-fill-input.ts
  packages/web-components/fast-components/src/color/recipes/neutral-fill-layer.spec.ts
  packages/web-components/fast-components/src/color/recipes/neutral-fill-layer.ts
  packages/web-components/fast-components/src/color/recipes/neutral-fill-stealth.ts
  packages/web-components/fast-components/src/color/recipes/neutral-fill.ts
  packages/web-components/fast-components/src/color/recipes/neutral-foreground-hint.spec.ts
  packages/web-components/fast-components/src/color/recipes/neutral-foreground-hint.ts
  packages/web-components/fast-components/src/color/recipes/neutral-foreground.spec.ts
  packages/web-components/fast-components/src/color/recipes/neutral-foreground.ts
  packages/web-components/fast-components/src/color/recipes/neutral-layer-1.ts
  packages/web-components/fast-components/src/color/recipes/neutral-layer-2.ts
  packages/web-components/fast-components/src/color/recipes/neutral-layer-3.ts
  packages/web-components/fast-components/src/color/recipes/neutral-layer-4.ts
  packages/web-components/fast-components/src/color/recipes/neutral-layer-card-container.ts
  packages/web-components/fast-components/src/color/recipes/neutral-layer-floating.ts
  packages/web-components/fast-components/src/color/recipes/neutral-layer.spec.ts
  packages/web-components/fast-components/src/color/recipes/neutral-stroke.ts
  packages/web-components/fast-components/src/design-tokens.ts
  packages/web-components/fast-components/src/toolbar/index.ts
Labels: area:fast-components

#5754 Updated remaining portions of the Color Explorer to web components
  sites/fast-color-explorer/.eslintrc.js
  sites/fast-color-explorer/app/app.ts
  sites/fast-color-explorer/app/app.tsx
  sites/fast-color-explorer/app/base.css
  sites/fast-color-explorer/app/components/color-block.ts
  sites/fast-color-explorer/app/components/control-pane/control-pane.styles.ts
  sites/fast-color-explorer/app/components/control-pane/control-pane.template.ts
  sites/fast-color-explorer/app/components/control-pane/control-pane.ts
  sites/fast-color-explorer/app/components/control-pane/index.ts
  sites/fast-color-explorer/app/components/gradient/gradient.styles.ts
  sites/fast-color-explorer/app/components/gradient/gradient.template.ts
  sites/fast-color-explorer/app/components/gradient/gradient.ts
  sites/fast-color-explorer/app/components/gradient/index.ts
  sites/fast-color-explorer/app/components/layer-background/index.ts
  sites/fast-color-explorer/app/control-pane.tsx
  sites/fast-color-explorer/app/custom.d.ts
  sites/fast-color-explorer/app/declarations.d.ts
  sites/fast-color-explorer/app/gradient.tsx
  sites/fast-color-explorer/app/index.html
  sites/fast-color-explorer/app/index.ts
  sites/fast-color-explorer/app/index.tsx
  sites/fast-color-explorer/app/site-footer.ts
  sites/fast-color-explorer/app/site-footer.tsx
  sites/fast-color-explorer/app/state.ts
  sites/fast-color-explorer/babel.config.js
  sites/fast-color-explorer/package.json
  sites/fast-color-explorer/tsconfig.json
  sites/fast-color-explorer/webpack.config.js
  yarn.lock
Labels: area:utilities

#5784 fork color picker from fast-tooling to remove circular dependency
  sites/fast-color-explorer/app/components/color-picker/README.md
  sites/fast-color-explorer/app/components/color-picker/color-picker.form-associated.ts
  sites/fast-color-explorer/app/components/color-picker/color-picker.styles.ts
  sites/fast-color-explorer/app/components/color-picker/color-picker.template.ts
  sites/fast-color-explorer/app/components/color-picker/color-picker.ts
  sites/fast-color-explorer/app/components/color-picker/index.ts
  sites/fast-color-explorer/app/index.ts
  sites/fast-color-explorer/package.json
  yarn.lock
Labels: bug, area:site

#5774 fix heading class name and part association in accordion item
  change/@microsoft-fast-foundation-c3a0d9cd-9fa9-430f-8518-2da44c6c2590.json
  packages/web-components/fast-foundation/src/accordion-item/accordion-item.template.ts
Labels: area:fast-foundation, area:fast-components

#5787 Fixed a typo in a doc example
  change/@microsoft-fast-element-a347a5ee-bd7e-4c8b-afd8-cc9eb668e804.json
  packages/web-components/fast-element/docs/guide/using-directives.md
Labels: area:fast-element
